@using WebApplication4.Models
@model MenuViewModel

@if (!string.IsNullOrWhiteSpace(Model.PageFilePath))
{
    @Html.ActionLink(Model.Title, "Page", "Static", new { MenuTitle = Model.Title }, null)
}
else if (!string.IsNullOrEmpty(Model.Link))
{
    <a href="@Model.Link" target="_blank">@Model.Title</a>
}
else
{

    @*
        if (this.Model.UrlParams == null)
        {
            this.Model.UrlParams = new Dictionary<string, string>();
        }


        this.Model.UrlParams.Add("MenuTitle", this.Model.Title);


        RouteValueDictionary UrlParam = new RouteValueDictionary(this.Model.UrlParams);

        foreach (var item in this.Model.UrlParams)
        {
            UrlParam.Add(item.Key, item.Value);
        }


        @Html.ActionLink(Model.Title, "Default", "ModuleContainer", UrlParam, null)
    *@


    @Html.ActionLink(Model.Title, "Default", "ModuleContainer", new { MenuTitle = Model.Title }, null)
}