
@{
    ViewBag.Title = "Default";
    ViewBag.DomainName =
        Request.Url.Scheme + "://" + Request.Url.Authority;
}

<h2>Default</h2>
@ViewBag.DomainName ::: DomainName <br />
@ViewBag.Title ::: Title<br />
@ViewBag.SiteName ::: SiteName<br />
@ViewBag.PageName ::: PageName<br />
@ViewBag.ModuleID ::: ModuleID<br />
@ViewBag.ModuleCtlName ::: ModuleCtlName<br />
@ViewBag.Parameters ::: Parameters<br />