
@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>

@ViewBag.Title ::: Title<br/>
@ViewBag.SiteName ::: SiteName<br/>
@ViewBag.PageName ::: PageName<br />
@ViewBag.ModuleID ::: ModuleID<br />
@ViewBag.ModuleCtlName ::: ModuleCtlName<br />
@ViewBag.Parameters ::: Parameters<br />