
@{
    ViewBag.Title = "Default";
    ViewBag.DomainName =
        Request.Url.Scheme + "://" + Request.Url.Authority;
}


<h2>雅典娜的介紹詞</h2>
@ViewBag.DomainName ::: DomainName <br />
@ViewBag.Title ::: Title<br />
@ViewBag.SiteName ::: SiteName<br />
@ViewBag.PageName ::: PageName<br />
@ViewBag.ModuleID ::: ModuleID<br />
@ViewBag.ModuleCtlName ::: ModuleCtlName<br />
@ViewBag.Parameters ::: Parameters<br />

<div class="mw-parser-output">
    <table class="metadata plainlinks ambox ambox-style" style="">
        <tbody><tr><td class="mbox-image"><div style="width: 52px;"><a href="/wiki/File:Ambox_spelling.svg" class="image"><img alt="Ambox spelling.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Ambox_spelling.svg/48px-Ambox_spelling.svg.png" width="48" height="48" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Ambox_spelling.svg/72px-Ambox_spelling.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Ambox_spelling.svg/96px-Ambox_spelling.svg.png 2x" data-file-width="620" data-file-height="620"></a></div></td><td class="mbox-text" style=""><span class="mbox-text-span">本條目<b>需要<a href="/wiki/Wikipedia:%E5%A6%82%E4%BD%95%E5%AF%A9%E6%A0%B8%E6%A0%A1%E5%B0%8D" class="mw-redirect" title="Wikipedia:如何審核校對">編修</a>，以確保文法、<a href="/wiki/Wikipedia:%E9%81%BF%E5%85%8D%E4%BD%BF%E7%94%A8%E7%9A%84%E5%AD%97%E8%A9%9E" class="mw-redirect" title="Wikipedia:避免使用的字詞">用詞、語氣</a>、<a href="/wiki/Wikipedia:%E6%A0%BC%E5%BC%8F%E6%89%8B%E5%86%8C" title="Wikipedia:格式手冊">格式</a>、<a href="/wiki/Wikipedia:%E6%A0%BC%E5%BC%8F%E6%89%8B%E5%86%8C/%E6%A0%87%E7%82%B9%E7%AC%A6%E5%8F%B7" title="Wikipedia:格式手冊/標點符號">標點</a>等使用恰當。</b><span class="hide-when-compact"> <br><small>請按照<a href="/wiki/Wikipedia:%E5%A6%82%E4%BD%95%E5%AF%A9%E6%A0%B8%E6%A0%A1%E5%B0%8D" class="mw-redirect" title="Wikipedia:如何審核校對">校對指引</a>，幫助<a class="external text" href="//zh.wikipedia.org/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit">編輯</a>這個條目。（<a href="/wiki/Help:%E7%BC%96%E8%BE%91" class="mw-redirect" title="Help:編輯">幫助</a>、<a href="/wiki/Talk:%E9%9B%85%E5%85%B8%E5%A8%9C" title="Talk:雅典娜">討論</a>）</small></span><span class="hide-when-compact"> </span></span></td></tr></tbody>
    </table>
    <table class="metadata plainlinks ambox ambox-content" style="">
        <tbody><tr><td class="mbox-image"><div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/f/f4/Ambox_content.png" width="40" height="40" data-file-width="40" data-file-height="40"></div></td><td class="mbox-text" style=""><span class="mbox-text-span">本條目需要<b>精通或熟悉相關主題的編者</b>參與及協助編輯。<small><i>（2015年12月14日）</i></small><span class="hide-when-compact"> <br><small>請<a href="/wiki/Wikipedia:%E5%B0%88%E5%AE%B6%E9%82%80%E8%AB%8B%E5%B7%A5%E4%BD%9C%E5%B0%8F%E7%B5%84" title="Wikipedia:專家邀請工作小組">邀請</a>適合的人士<a class="external text" href="//zh.wikipedia.org/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit">改善本條目</a>。更多的細節與詳情請參見<a href="/wiki/Talk:%E9%9B%85%E5%85%B8%E5%A8%9C" title="Talk:雅典娜">討論頁</a>。</small></span><span class="hide-when-compact"> </span></span></td></tr></tbody>
    </table>
    <div id="noteTA-56a1c204" class="noteTA"><div class="noteTA-local"><div data-noteta-code="zh-cn:赫拉克勒斯; zh-hk:海格力斯; zh-tw:海克力斯"></div><div data-noteta-code="zh-cn:伊菲克勒斯; zh-hk:伊克力斯; zh-tw:伊克力斯"></div><div data-noteta-code="zh-cn:喀戎; zh-hk:奇倫; zh-tw:凱隆"></div></div></div>
    <table class="infobox" cellspacing="3" style="border-spacing:3px;width:22em;text-align:left;font-size:small;line-height:1.5em;width:300px;">
        <tbody>
            <tr><th colspan="2" style="text-align:center;font-size:125%;font-weight:bold;background:#cef2e0"><b>雅典娜</b></th></tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <a href="/wiki/File:Atena_giustiniani,_copia_romana_da_originale_greco.JPG" class="image" title="雅典娜雕像"><img alt="雅典娜雕像" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Atena_giustiniani%2C_copia_romana_da_originale_greco.JPG/200px-Atena_giustiniani%2C_copia_romana_da_originale_greco.JPG" width="200" height="425" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Atena_giustiniani%2C_copia_romana_da_originale_greco.JPG/300px-Atena_giustiniani%2C_copia_romana_da_originale_greco.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Atena_giustiniani%2C_copia_romana_da_originale_greco.JPG/400px-Atena_giustiniani%2C_copia_romana_da_originale_greco.JPG 2x" data-file-width="1024" data-file-height="2176"></a><div>雅典娜雕像</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    智慧女神、戰爭女神、占卜女神、建築女神、手工藝女神<br><a href="/wiki/%E9%9B%85%E5%85%B8" title="雅典">雅典</a>的守護神<i></i>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;">住所</th>
                <td style="">
                    <a href="/wiki/%E5%A5%A5%E6%9E%97%E5%8C%B9%E6%96%AF%E5%B1%B1" title="奧林匹斯山">奧林匹斯山</a>、<a href="/wiki/%E9%9B%85%E5%85%B8" title="雅典">雅典</a>、<a href="/w/index.php?title=%E7%8E%9B%E5%B0%BC%E5%8D%8A%E5%B2%9B&amp;action=edit&amp;redlink=1" class="new" title="瑪尼半島（頁面不存在）">瑪尼半島</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;">聖物</th>
                <td style="">
                    <a href="/wiki/%E7%8C%AB%E5%A4%B4%E9%B9%B0" class="mw-redirect" title="貓頭鷹">貓頭鷹</a>、<a href="/wiki/%E6%A9%84%E6%AC%96%E6%A8%B9" class="mw-redirect" title="橄欖樹">橄欖樹</a>、<a href="/wiki/%E8%9B%87" title="蛇">蛇</a>、<a href="/wiki/%E5%9F%83%E7%99%B8%E6%96%AF" title="埃癸斯">埃癸斯</a>、<a href="/wiki/%E7%94%B2%E5%86%91" class="mw-redirect" title="甲冑">甲冑</a>、<a href="/wiki/%E5%A4%B4%E7%9B%94" class="mw-redirect" title="頭盔">頭盔</a>、<a href="/wiki/%E9%95%BF%E7%9F%9B" class="mw-disambig" title="長矛">長矛</a>、<a href="/wiki/%E5%A5%B3%E9%AD%94%E8%84%B8%E5%BD%A2%E9%A5%B0" title="女魔臉形飾">戈耳工頭像裝飾</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;">手足</th>
                <td style="">
                    <a href="/wiki/%E9%98%BF%E8%80%B3%E5%BF%92%E5%BC%A5%E6%96%AF" title="阿耳忒彌斯">阿耳忒彌斯</a>、<a href="/wiki/%E9%98%BF%E4%BD%9B%E6%B4%9B%E7%8B%84%E5%BF%92" title="阿佛洛狄忒">阿佛洛狄忒</a>、<a href="/wiki/%E7%BC%AA%E6%96%AF" title="繆斯">繆斯</a>、<a href="/wiki/%E5%8D%A1%E9%87%8C%E5%BF%92%E6%96%AF" title="卡里忒斯">卡里忒斯</a>、<a href="/wiki/%E9%98%BF%E7%91%9E%E6%96%AF" title="阿瑞斯">阿瑞斯</a>、<a href="/wiki/%E9%98%BF%E6%B3%A2%E7%BD%97" title="阿波羅">阿波羅</a>、<a href="/wiki/%E7%8B%84%E4%BF%84%E5%80%AA%E7%B4%A2%E6%96%AF" title="狄俄倪索斯">狄俄倪索斯</a>、<a href="/wiki/%E8%B5%AB%E6%9F%8F" title="赫柏">赫柏</a>、<a href="/wiki/%E8%B5%AB%E5%B0%94%E5%A2%A8%E6%96%AF" class="mw-redirect" title="赫爾墨斯">赫爾墨斯</a>、<a href="/wiki/%E8%B5%AB%E6%8B%89%E5%85%8B%E5%8B%92%E6%96%AF" title="海克力斯">海克力斯</a>、<a href="/wiki/%E6%B5%B7%E4%BC%A6_(%E7%A5%9E%E8%AF%9D)" title="海倫 (神話)">海倫</a>、<a href="/wiki/%E8%B5%AB%E8%8F%B2%E6%96%AF%E6%89%98%E6%96%AF" class="mw-redirect" title="赫菲斯托斯">赫菲斯托斯</a>、<a href="/wiki/%E7%B1%B3%E8%AF%BA%E6%96%AF" title="米諾斯">米諾斯</a>、<a href="/wiki/%E7%8F%80%E5%B0%94%E4%BF%AE%E6%96%AF" class="mw-redirect" title="珀爾修斯">珀爾修斯</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;">在羅馬神話</th>
                <td style="">
                    <a href="/wiki/%E5%BC%A5%E6%B6%85%E8%80%B3%E7%93%A6" title="彌涅耳瓦">彌涅耳瓦</a>
                </td>
            </tr>
            <tr><td colspan="2" style="text-align:right"><div class="plainlinks hlist navbar mini"><ul><li class="nv-view"><a href="/wiki/Template:Infobox_Greek_deity" title="Template:Infobox Greek deity"><abbr title="檢視該模板">閱</abbr></a></li><li class="nv-talk"><a href="/wiki/Template_talk:Infobox_Greek_deity" title="Template talk:Infobox Greek deity"><abbr title="討論該模板">論</abbr></a></li><li class="nv-edit"><a class="external text" href="//zh.wikipedia.org/w/index.php?title=Template:Infobox_Greek_deity&amp;action=edit"><abbr title="編輯該模板">編</abbr></a></li></ul></div></td></tr>
        </tbody>
    </table>
    <table class="mbox-small plainlinks sistersitebox" style="border:1px solid #aaa;background-color:#f9f9f9;font-size:small;">
        <tbody>
            <tr>
                <td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" class="noviewer" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/45px-Commons-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/59px-Commons-logo.svg.png 2x" data-file-width="1024" data-file-height="1376"></td>
                <td class="mbox-text plainlist"><a href="/wiki/%E7%BB%B4%E5%9F%BA%E5%85%B1%E4%BA%AB%E8%B5%84%E6%BA%90" title="維基共享資源">維基共享資源</a>中相關的多媒體資源：<b><a class="external text" href="https://commons.wikimedia.org/wiki/Athena?uselang=zh-tw">雅典娜</a></b></td>
            </tr>
        </tbody>
    </table>
    <p>
        <b>雅典娜</b>（<a href="/wiki/%E7%8E%B0%E4%BB%A3%E5%B8%8C%E8%85%8A%E8%AF%AD" title="現代希臘語">現代希臘語</a>：<span lang="el">Αθηνά</span>；<a href="/wiki/%E6%8B%89%E4%B8%81%E8%AA%9E" class="mw-redirect" title="拉丁語">拉丁語</a>：<span lang="la">Athena</span>；阿提卡方言：<span lang="el">Ἀθηνᾶ</span>或<span lang="el">Ἀθηναία</span>；伊俄尼亞方言：<span lang="el">Ἀθήνη</span>或<span lang="el">Ἀθηναίη</span>（多用於史詩）；埃俄利亞方言：<span lang="el">Ἀθήναα</span>；多里斯方言：<span lang="el">Ἀθαναία</span>或<span lang="el">Ἀσάνα</span><sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[2]</a></sup>）是<a href="/wiki/%E5%B8%8C%E8%85%8A%E7%A5%9E%E8%AF%9D" title="希臘神話">希臘神話</a>中的智慧女神和戰爭女神，<a href="/wiki/%E5%A5%A7%E6%9E%97%E5%B8%95%E6%96%AF%E5%8D%81%E4%BA%8C%E7%A5%9E" class="mw-redirect" title="奧林帕斯十二神">奧林匹斯十二神</a>之一。雅典娜是主司戰爭、手工藝、藝術、智慧以及公正的女神，同時也是農業、園藝、雕刻家、建築家、城市和英雄的保護神。
    </p><p>
        在<a href="/wiki/%E7%BD%97%E9%A9%AC%E7%A5%9E%E8%AF%9D" title="羅馬神話">羅馬神話</a>中與雅典娜相對應是<a href="/wiki/%E5%BC%A5%E6%B6%85%E8%80%B3%E7%93%A6" title="彌涅耳瓦">彌涅耳瓦</a>（<a href="/wiki/%E6%8B%89%E4%B8%81%E8%AF%AD" title="拉丁語">拉丁語</a>：<span lang="la">Minerva</span>）。
    </p>
    <div id="toc" class="toc">
        <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="zh-TW" dir="ltr"><h2>目錄</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#形象"><span class="tocnumber">1</span> <span class="toctext">形象</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#装备"><span class="tocnumber">2</span> <span class="toctext">裝備</span></a></li>
            <li class="toclevel-1 tocsection-3">
                <a href="#职能与称号"><span class="tocnumber">3</span> <span class="toctext">職能與稱號</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-4"><a href="#女战神"><span class="tocnumber">3.1</span> <span class="toctext">女戰神</span></a></li>
                    <li class="toclevel-2 tocsection-5"><a href="#艺术女神"><span class="tocnumber">3.2</span> <span class="toctext">藝術女神</span></a></li>
                    <li class="toclevel-2 tocsection-6">
                        <a href="#手工艺之神"><span class="tocnumber">3.3</span> <span class="toctext">手工藝之神</span></a>
                        <ul>
                            <li class="toclevel-3 tocsection-7"><a href="#纺织"><span class="tocnumber">3.3.1</span> <span class="toctext">紡織</span></a></li>
                            <li class="toclevel-3 tocsection-8"><a href="#造船"><span class="tocnumber">3.3.2</span> <span class="toctext">造船</span></a></li>
                            <li class="toclevel-3 tocsection-9"><a href="#笛子"><span class="tocnumber">3.3.3</span> <span class="toctext">笛子</span></a></li>
                            <li class="toclevel-3 tocsection-10"><a href="#造房子"><span class="tocnumber">3.3.4</span> <span class="toctext">造房子</span></a></li>
                        </ul>
                    </li>
                    <li class="toclevel-2 tocsection-11"><a href="#驯马女神"><span class="tocnumber">3.4</span> <span class="toctext">馴馬女神</span></a></li>
                    <li class="toclevel-2 tocsection-12"><a href="#司法女神"><span class="tocnumber">3.5</span> <span class="toctext">司法女神</span></a></li>
                    <li class="toclevel-2 tocsection-13"><a href="#处女神"><span class="tocnumber">3.6</span> <span class="toctext">處女神</span></a></li>
                    <li class="toclevel-2 tocsection-14"><a href="#盾牌女神"><span class="tocnumber">3.7</span> <span class="toctext">盾牌女神</span></a></li>
                    <li class="toclevel-2 tocsection-15"><a href="#蛇女神"><span class="tocnumber">3.8</span> <span class="toctext">蛇女神</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-16">
                <a href="#神话故事中的描述"><span class="tocnumber">4</span> <span class="toctext">神話故事中的描述</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-17"><a href="#雅典娜的诞生"><span class="tocnumber">4.1</span> <span class="toctext">雅典娜的誕生</span></a></li>
                    <li class="toclevel-2 tocsection-18"><a href="#帕拉斯·雅典娜"><span class="tocnumber">4.2</span> <span class="toctext">帕拉斯·雅典娜</span></a></li>
                    <li class="toclevel-2 tocsection-19"><a href="#与波赛頓争夺雅典领土权"><span class="tocnumber">4.3</span> <span class="toctext">與波賽頓爭奪雅典領土權</span></a></li>
                    <li class="toclevel-2 tocsection-20"><a href="#與赫菲斯托斯"><span class="tocnumber">4.4</span> <span class="toctext">與赫菲斯托斯</span></a></li>
                    <li class="toclevel-2 tocsection-21"><a href="#巨靈族大戰"><span class="tocnumber">4.5</span> <span class="toctext">巨靈族大戰</span></a></li>
                    <li class="toclevel-2 tocsection-22"><a href="#特洛伊戰爭"><span class="tocnumber">4.6</span> <span class="toctext">特洛伊戰爭</span></a></li>
                    <li class="toclevel-2 tocsection-23"><a href="#特洛伊戰後，希臘軍返鄉"><span class="tocnumber">4.7</span> <span class="toctext">特洛伊戰後，希臘軍返鄉</span></a></li>
                    <li class="toclevel-2 tocsection-24"><a href="#与赫拉的关系"><span class="tocnumber">4.8</span> <span class="toctext">與赫拉的關係</span></a></li>
                    <li class="toclevel-2 tocsection-25"><a href="#注重形象的雅典娜"><span class="tocnumber">4.9</span> <span class="toctext">注重形象的雅典娜</span></a></li>
                    <li class="toclevel-2 tocsection-26"><a href="#恩惠與懲罰"><span class="tocnumber">4.10</span> <span class="toctext">恩惠與懲罰</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-27"><a href="#雅典娜的來歷"><span class="tocnumber">5</span> <span class="toctext">雅典娜的來歷</span></a></li>
            <li class="toclevel-1 tocsection-28"><a href="#雅典娜身邊的神祇"><span class="tocnumber">6</span> <span class="toctext">雅典娜身邊的神祇</span></a></li>
            <li class="toclevel-1 tocsection-29"><a href="#雅典娜的稱謂"><span class="tocnumber">7</span> <span class="toctext">雅典娜的稱謂</span></a></li>
            <li class="toclevel-1 tocsection-30"><a href="#大眾文化"><span class="tocnumber">8</span> <span class="toctext">大眾文化</span></a></li>
            <li class="toclevel-1 tocsection-31"><a href="#注释"><span class="tocnumber">9</span> <span class="toctext">注釋</span></a></li>
        </ul>
    </div>

    <h2><span id=".E5.BD.A2.E8.B1.A1"></span><span class="mw-headline" id="形象">形象</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=1" title="編輯章節：形象">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <p>
        在<a href="/wiki/%E5%A5%A7%E7%B6%AD%E5%BE%B7" title="奧維德">奧維德</a>的《<a href="/wiki/%E5%8F%98%E5%BD%A2%E8%AE%B0_(%E5%A5%A5%E7%BB%B4%E5%BE%B7)" title="變形記 (奧維德)">變形記</a>》中，雅典娜在自己的紡織圖中給自己紡出了非常明朗的形象：「頭戴頭盔，左手持盾，右手持尖頭矛，身披羊皮胸甲，矛尖往地一插，冒出一株深綠色的<a href="/wiki/%E6%B2%B9%E6%A9%84%E6%AC%96" title="油橄欖">橄欖</a>樹。」<sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[3]</a></sup>另外還說她滿頭金髮。<sup id="cite_ref-4" class="reference"><a href="#cite_note-4">[4]</a></sup>雅典娜擁有一雙深邃灰色的瞳孔，被人稱為「灰眸女神」（<span lang="el">Γλαυκώπις</span>）。<a href="/wiki/%E8%8D%B7%E9%A9%AC%E5%8F%B2%E8%AF%97" title="荷馬史詩">荷馬史詩</a>則稱她為「目光炯炯的雅典娜」或「明眸女神雅典娜」，此類稱呼和<a href="/wiki/%E5%9B%BE%E8%85%BE%E5%B4%87%E6%8B%9C" class="mw-redirect" title="圖騰崇拜">圖騰崇拜</a>有關。<a href="/wiki/%E5%8F%A4%E6%96%AF%E5%A1%94%E5%A4%AB%C2%B7%E6%96%BD%E7%93%A6%E5%B8%83" title="古斯塔夫·施瓦布">古斯塔夫·施瓦布</a>的《希臘神話和傳說》中描述：「她的前額寬闊，莊嚴而美麗的面龐上兩眼蔚藍如同青天一樣。」
    </p><p>
        雅典娜攜帶的神盾或胸口時常佩戴的胸甲名為<a href="/wiki/%E5%9F%83%E7%99%B8%E6%96%AF" title="埃癸斯">埃奎斯</a>（<span lang="el">Αἰγίς</span>），上面鑲有<a href="/wiki/%E6%88%88%E8%80%B3%E5%B7%A5" title="戈耳工">戈耳工</a>（蛇髮女妖）的頭顱，原為宙斯所有。聖物原本是<a href="/wiki/%E7%83%8F%E9%B4%89" class="mw-redirect" title="烏鴉">烏鴉</a>，後來變為<a href="/wiki/%E9%B4%9E" class="mw-redirect" title="鴞">鷂</a>（γλαύξ）或（貓頭鷹）<sup id="cite_ref-5" class="reference"><a href="#cite_note-5">[5]</a></sup><sup id="cite_ref-6" class="reference"><a href="#cite_note-6">[6]</a></sup>。
    </p>
    <h2><span id=".E8.A3.85.E5.A4.87"></span><span class="mw-headline" id="装备">裝備</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=2" title="編輯章節：裝備">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <p>
        四行盔羽，雕飾百城的戰士。<sup id="cite_ref-7" class="reference"><a href="#cite_note-7">[7]</a></sup>平時穿著一件刺繡彩袍（<span lang="el">ποικίλος</span>），穿上武裝時就會換下<sup id="cite_ref-8" class="reference"><a href="#cite_note-8">[8]</a></sup>。左手持有帶穗的盾<sup id="cite_ref-9" class="reference"><a href="#cite_note-9">[9]</a></sup>，名為<a href="/wiki/%E5%9F%83%E7%99%B8%E6%96%AF" title="埃癸斯">埃癸斯</a>，意為「山羊皮」<sup id="cite_ref-10" class="reference"><a href="#cite_note-10">[10]</a></sup>。盾身周圍飾有一百顆金穗。右手持有勝利女神耐克（Nike）。（<a href="/wiki/%E8%8F%B2%E7%8B%84%E4%BA%9A%E6%96%AF" class="mw-redirect" title="菲狄亞斯">菲狄亞斯</a>所做的<a href="/wiki/%E9%9B%85%E5%85%B8%E5%A8%9C%C2%B7%E5%B8%95%E5%BE%B7%E5%AB%A9" title="雅典娜·帕德嫩">雅典娜·帕德儂</a>雕像。）
    </p>
    <h2><span id=".E8.81.8C.E8.83.BD.E4.B8.8E.E7.A7.B0.E5.8F.B7"></span><span class="mw-headline" id="职能与称号">職能與稱號</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=3" title="編輯章節：職能與稱號">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <h3><span id=".E5.A5.B3.E6.88.98.E7.A5.9E"></span><span class="mw-headline" id="女战神">女戰神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=4" title="編輯章節：女戰神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        崇尚和平的雅典娜比起狂暴、兇殘、好戰的<a href="/wiki/%E9%98%BF%E7%91%9E%E6%96%AF" title="阿瑞斯">阿瑞斯</a>而言，雅典娜更為理智和冷靜，是位文武雙全的女神。因此雅典娜的力量超越了同為戰神的阿瑞斯。雅典娜抵禦外敵侵略，依靠自己的英勇和智慧來取得最後的勝利。
    </p>
    <h3><span id=".E8.89.BA.E6.9C.AF.E5.A5.B3.E7.A5.9E"></span><span class="mw-headline" id="艺术女神">藝術女神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=5" title="編輯章節：藝術女神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        雅典娜也是詩歌、音樂、知識的女神。是司管藝術的<a href="/wiki/%E9%98%BF%E6%B3%A2%E7%BD%97" title="阿波羅">阿波羅</a>和文藝女神<a href="/wiki/%E7%BC%AA%E6%96%AF" title="繆斯">繆斯</a>的摯友。
    </p>
    <h3><span id=".E6.89.8B.E5.B7.A5.E8.89.BA.E4.B9.8B.E7.A5.9E"></span><span class="mw-headline" id="手工艺之神">手工藝之神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=6" title="編輯章節：手工藝之神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <h4><span id=".E7.BA.BA.E7.BB.87"></span><span class="mw-headline" id="纺织">紡織</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=7" title="編輯章節：紡織">編輯</a><span class="mw-editsection-bracket">]</span></span></h4>
    <p>
        希臘的女性因為雅典娜傳授她們手工技藝而敬奉她。無論凡人和女神，在紡織技巧上誰也無法超過她。與雅典娜挑戰編織技藝是相當危險的，<a href="/wiki/%E9%98%BF%E5%89%8C%E5%85%8B%E6%B6%85" title="阿剌克涅">阿剌克涅</a>因此付出了慘重的代價。
    </p><p>
        相傳雅典娜發明紡織，曾幫<a href="/wiki/%E8%B5%AB%E6%8B%89" title="赫拉">赫拉</a>與<a href="/wiki/%E8%B5%AB%E6%8B%89%E5%85%8B%E5%8B%92%E6%96%AF" title="海克力斯">海克力斯</a>編織長袍。《<a href="/wiki/%E4%BC%8A%E5%88%A9%E4%BA%9A%E7%89%B9" title="伊利亞特">伊利亞特</a>》中，赫拉披上雅典娜編織的長袍，別黃金別針，面會宙斯，在《<a href="/wiki/%E6%9B%B8%E5%BA%AB" title="書庫">書庫</a>》中這件長袍被巨靈<span class="ilh-all" data-orig-title="波菲利翁" data-lang-code="es" data-lang-name="西班牙語" data-foreign-title="Porfirión"><span class="ilh-page"><a href="/w/index.php?title=%E6%B3%A2%E8%8F%B2%E5%88%A9%E7%BF%81&amp;action=edit&amp;redlink=1" class="new" original-title="波菲利翁（頁面不存在）">波菲利翁</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">西班牙語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://es.wikipedia.org/wiki/Porfiri%C3%B3n" class="extiw" title="es:Porfirión"><span lang="es" dir="auto">Porfirión</span></a></span>）</span></span>（Πορφυρίων）撕破<sup id="cite_ref-11" class="reference"><a href="#cite_note-11">[11]</a></sup>。各路神祇給予海克力斯裝備，從雅典娜手上得到長袍。<sup id="cite_ref-12" class="reference"><a href="#cite_note-12">[12]</a></sup>。
    </p>
    <h4><span id=".E9.80.A0.E8.88.B9"></span><span class="mw-headline" id="造船">造船</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=8" title="編輯章節：造船">編輯</a><span class="mw-editsection-bracket">]</span></span></h4>
    <p>
        指示造船長<a href="/wiki/%E9%98%BF%E5%B0%94%E6%88%88%E6%96%AF" title="阿爾戈斯">阿爾哥斯</a>（Άργος，弗利克索斯之子）建造阿爾戈船，並在船頭放上多多納橡木雕刻的女神像<sup id="cite_ref-13" class="reference"><a href="#cite_note-13">[13]</a></sup>。但他並非第一人，利比亞的<a href="/wiki/%E8%BE%BE%E9%82%A3%E4%BF%84%E6%96%AF" title="達那俄斯">達納歐斯</a>（Δαναός）為逃離埃及，也在雅典娜指示下造出人間第一條船。<sup id="cite_ref-14" class="reference"><a href="#cite_note-14">[14]</a></sup>
    </p>
    <h4><span id=".E7.AC.9B.E5.AD.90"></span><span class="mw-headline" id="笛子">笛子</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=9" title="編輯章節：笛子">編輯</a><span class="mw-editsection-bracket">]</span></span></h4>
    <p>
        雅典娜發明的樂器因為吹奏時雙頰會鼓起而被眾神嘲笑，遂棄之，被<span class="ilh-all" data-orig-title="馬爾敘亞斯" data-lang-code="el" data-lang-name="希臘語" data-foreign-title="Μαρσύας"><span class="ilh-page"><a href="/w/index.php?title=%E9%A6%AC%E7%88%BE%E6%95%98%E4%BA%9E%E6%96%AF&amp;action=edit&amp;redlink=1" class="new" original-title="馬爾敘亞斯（頁面不存在）">馬爾敘亞斯</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">希臘語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://el.wikipedia.org/wiki/%CE%9C%CE%B1%CF%81%CF%83%CF%8D%CE%B1%CF%82" class="extiw" title="el:Μαρσύας"><span lang="el" dir="auto">Μαρσύας</span></a></span>）</span></span>（Μαρσύας）撿到，馬爾敘亞斯認為天神發明的樂器一定能與同為演奏樂器的太陽神抗衡，於是挑戰太陽神阿波羅，因為阿波羅規定必須倒著演奏樂器，但是笛子只有前端能吹出聲音，所以落敗。<sup id="cite_ref-15" class="reference"><a href="#cite_note-15">[15]</a></sup><sup id="cite_ref-16" class="reference"><a href="#cite_note-16">[16]</a></sup>
    </p>
    <h4><span id=".E9.80.A0.E6.88.BF.E5.AD.90"></span><span class="mw-headline" id="造房子">造房子</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=10" title="編輯章節：造房子">編輯</a><span class="mw-editsection-bracket">]</span></span></h4>
    <p>
        在《<a href="/wiki/%E4%BC%8A%E7%B4%A2%E5%AF%93%E8%A8%80" title="伊索寓言">伊索寓言</a>》中，宙斯創造公牛，雅典娜發明房屋，<a href="/wiki/%E6%99%AE%E7%BE%85%E7%B1%B3%E4%BF%AE%E6%96%AF" class="mw-redirect" title="普羅米修斯">普羅米修斯</a>創造人類，卻被嘲笑神<a href="/wiki/%E6%91%A9%E5%A2%A8%E6%96%AF" title="摩墨斯">莫摩斯</a>（Μῶμος）批評說：若屋蓋於惡鄰之側，此屋又不能長出輪子即時搬離。<sup id="cite_ref-17" class="reference"><a href="#cite_note-17">[17]</a></sup>
    </p>
    <h3><span id=".E9.A9.AF.E9.A9.AC.E5.A5.B3.E7.A5.9E"></span><span class="mw-headline" id="驯马女神">馴馬女神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=11" title="編輯章節：馴馬女神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        當珀爾修斯斬斷美杜莎的頭顱時，飛濺出的血生出了飛馬<a href="/wiki/%E7%8F%80%E4%BC%BD%E7%B4%A2%E6%96%AF" title="珀伽索斯">珀伽索斯</a>，雅典娜將它抓住，並且馴服，將它送給了<a href="/wiki/%E7%BC%AA%E6%96%AF" title="繆斯">繆斯</a>女神。
    </p><p>
        <a href="/wiki/%E6%9F%8F%E5%8B%92%E6%B4%9B%E4%B8%B0" title="柏勒洛豐">柏勒洛豐</a>根據預言家波呂伊多斯的建議，在波瑞涅泉邊的雅典娜祭壇旁睡覺。在夢中雅典娜教他如何抓住並馴服珀伽索斯的方法，並給了他一幅金籠頭還吩咐他給波塞冬獻祭。
    </p>
    <h3><span id=".E5.8F.B8.E6.B3.95.E5.A5.B3.E7.A5.9E"></span><span class="mw-headline" id="司法女神">司法女神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=12" title="編輯章節：司法女神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        <a href="/wiki/%E4%BF%84%E7%91%9E%E6%96%AF%E5%BF%92%E6%96%AF" title="俄瑞斯忒斯">俄瑞斯忒斯</a>因殺害了自己的母親而被復仇女神<a href="/wiki/%E5%8E%84%E9%87%8C%E5%80%AA%E5%8E%84%E6%96%AF" title="厄里倪厄斯">厄里倪厄斯</a>到處追逐，俄瑞斯忒斯乞求雅典娜的幫助，雅典娜則在雅典開設了法庭將自己作為庭長最關鍵的一票赦免了俄瑞斯忒斯。雅典娜本人明確地作出了自己支持公平正義的稱述。
    </p>
    <blockquote class="toccolours" style="float:none; display:table;">
        <div style="padding: 10px 15px 10px 15px;">
            我處女神雅典娜不是母親所生的孩子，是從我父親的頭顱里生出來的，因此我擁護父親和兒子的權利，而反對母親的權利。我不會對一個為了取悅情人而殺害丈夫的女人給予憐憫和重視。
        </div>
    </blockquote>
    <h3><span id=".E5.A4.84.E5.A5.B3.E7.A5.9E"></span><span class="mw-headline" id="处女神">處女神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=13" title="編輯章節：處女神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        雅典娜一開始就發表了自己的單身主義宣言，成為了希臘神話中少有的處女神，與<a href="/wiki/%E9%98%BF%E8%80%B3%E5%BF%92%E5%BD%8C%E6%96%AF" class="mw-redirect" title="阿耳忒彌斯">阿耳忒彌斯</a>、<a href="/wiki/%E8%B5%AB%E6%96%AF%E6%8F%90%E4%BA%9E" title="赫斯提亞">赫斯提亞</a>並稱為希臘三大處女神。作為三大處女神之首，雅典娜擁有自己的<a href="/wiki/%E9%9B%85%E5%85%B8%E5%A8%9C%C2%B7%E5%B8%95%E5%BE%B7%E5%AB%A9" title="雅典娜·帕德嫩">雅典娜·帕德嫩</a>（意為「處女宮」）神廟。雅典娜不戀愛、不出嫁和她硬朗強勢的性格有很大的關係，女神想要保持威風八面的顯赫地位，那就必須要當貞女，不受父權的束縛。
    </p>
    <h3><span id=".E7.9B.BE.E7.89.8C.E5.A5.B3.E7.A5.9E"></span><span class="mw-headline" id="盾牌女神">盾牌女神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=14" title="編輯章節：盾牌女神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        <a href="/wiki/%E8%8D%B7%E9%A9%AC%E5%8F%B2%E8%AF%97" title="荷馬史詩">荷馬史詩</a>把雅典娜稱為「宙斯的提盾之子」或「提盾者」。中央嵌有戈耳工頭顱的神盾埃癸斯也是雅典娜最主要的標誌之一，因此她也被稱為「盾牌女神」。
    </p>
    <h3><span id=".E8.9B.87.E5.A5.B3.E7.A5.9E"></span><span class="mw-headline" id="蛇女神">蛇女神</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=15" title="編輯章節：蛇女神">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        雅典娜與蛇有著不解之緣，被視為蛇女神，蛇幾乎成為了雅典娜的象徵和化身。因為蛇承擔著保護王室和保衛城堡的重大責任，因此這也是雅典娜成為護城神的原因。<mark class="template-facttext"><span title="非常模稜兩可或者十分空泛的語句">有筆者</span></mark><sup class="noprint"><a href="/wiki/Wikipedia:%E4%B8%8D%E8%A6%81%E6%A8%A1%E6%A3%B1%E4%B8%A4%E5%8F%AF" class="mw-redirect" title="Wikipedia:不要模稜兩可"><span title="缺少主語或者主語不夠具體的語句修正請求"><span style="white-space: nowrap;">[誰？]</span></span></a></sup>認為，蛇髮女妖美杜莎是雅典娜的一個分身，雅典娜將美杜莎變成怪物，然後又讓英雄珀修斯砍下她的頭顱送給她，是為了奪回原本屬於她的那部分力量。《伊利亞特》中描述雅典娜派遣兩條巨蟒將<a href="/wiki/%E6%8B%89%E5%A5%A5%E5%AD%94" title="拉奧孔">拉奧孔</a>和他的兩個兒子給纏死，隨後兩條巨蟒從地上爬行著來到雅典娜的神廟，隱藏在盾牌後面雅典娜的足下。
    </p>
    <h2><span id=".E7.A5.9E.E8.AF.9D.E6.95.85.E4.BA.8B.E4.B8.AD.E7.9A.84.E6.8F.8F.E8.BF.B0"></span><span class="mw-headline" id="神话故事中的描述">神話故事中的描述</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=16" title="編輯章節：神話故事中的描述">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <h3><span id=".E9.9B.85.E5.85.B8.E5.A8.9C.E7.9A.84.E8.AF.9E.E7.94.9F"></span><span class="mw-headline" id="雅典娜的诞生">雅典娜的誕生</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=17" title="編輯章節：雅典娜的誕生">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        雅典娜是<a href="/wiki/%E5%AE%99%E6%96%AF" title="宙斯">宙斯</a>與聰慧女神<a href="/wiki/%E5%A2%A8%E6%8F%90%E6%96%AF" title="墨提斯">墨提斯</a>（<span lang="el">Μήτις</span>）所生，有神預言墨提斯所生的兒女有能力推翻宙斯。宙斯感到這將威脅到自己的地位，於是把懷孕的墨提斯吞入腹中，被吞後的墨提斯仍然在宙斯頭內不斷打鐵來為女兒做一套<a href="/wiki/%E7%9B%94%E7%94%B2" title="盔甲">盔甲</a>，讓宙斯頭痛難忍，只好召來火神<a href="/wiki/%E8%B5%AB%E6%B7%AE%E6%96%AF%E6%89%98%E6%96%AF" title="赫淮斯托斯">赫淮斯托斯</a>用一把大斧頭劈開祂的頭顱，於是一個身穿甲冑和挺舉金矛的女神從祂的頭裡蹦出來亦即雅典娜。<sup id="cite_ref-18" class="reference"><a href="#cite_note-18">[18]</a></sup>
    </p><p>
        在<a href="/wiki/%E7%A5%9E%E8%AD%9C" class="mw-redirect" title="神譜">神譜</a>中，到<a href="/wiki/%E5%AE%99%E6%96%AF" title="宙斯">宙斯</a>為止，掌握王位的神祇不斷地被自己的下一代推翻政權。宙斯為了避免自己的王位像父親與祖父那樣再度被推翻，因此在與其表姐<a href="/wiki/%E6%B3%B0%E5%9D%A6%E5%B7%A8%E7%A5%9E" class="mw-redirect" title="泰坦巨神">泰坦巨神</a><a href="/wiki/%E5%A2%A8%E6%8F%90%E6%96%AF" title="墨提斯">墨提斯</a>進行性行為，並使她懷孕後便吞下墨提斯，之後宙斯頭痛欲裂，最後<a href="/wiki/%E8%B5%AB%E8%8F%B2%E6%96%AF%E6%89%98%E6%96%AF" class="mw-redirect" title="赫菲斯托斯">赫菲斯托斯</a>將宙斯的頭撬開，雅典娜就從宙斯的頭裡蹦了出來。由於雅典娜是自宙斯的腦子裡生出來的，其母墨提斯亦為智慧之神，因此雅典娜繼承了宙斯和墨提斯的優點，是力量和聰慧的化身。因此雅典娜成為了宙斯最寵愛的女兒。
    </p><p>
        根據荷馬讚美詩所述雅典娜出生時天地產生異變，連奧林波斯山也為之震動，太陽神赫利歐斯的馬車也停了下來。<sup id="cite_ref-19" class="reference"><a href="#cite_note-19">[19]</a></sup>
    </p>
    <h3><span id=".E5.B8.95.E6.8B.89.E6.96.AF.C2.B7.E9.9B.85.E5.85.B8.E5.A8.9C"></span><span class="mw-headline" id="帕拉斯·雅典娜">帕拉斯·雅典娜</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=18" title="編輯章節：帕拉斯·雅典娜">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        因為雅典娜沒有母親，從一出生開始就送給河神<a href="/wiki/%E7%89%B9%E9%87%8C%E5%90%8C" title="特里同">特里同</a>撫養，雅典娜就在一個民風彪悍的特里同河流域長大，造就了她硬朗剛強的男兒性格。雅典娜和特里同的女兒帕拉斯年齡相仿，性格也相近，於是兩人結下了深厚的友誼，經常一起切磋武藝。在一次比試中，宙斯看到帕拉斯的矛差點擊中雅典娜，宙斯在驚慌之下拋出埃癸斯神盾想要阻隔兩人，帕拉斯大驚失色準備躲開神盾，卻沒想到迎向了雅典娜的矛頭，帕拉斯應聲倒地，鮮血染紅了大地，雅典娜為此傷心不已，一邊自責一邊乞求著帕拉斯的原諒。為了紀念帕拉斯，雅典娜親手雕刻了一尊帕拉斯的木像置於宙斯座椅旁加以禮拜。此後，雅典娜將自己名字以帕拉斯·雅典娜來稱呼。
    </p>
    <h3><span id=".E4.B8.8E.E6.B3.A2.E8.B5.9B.E9.A0.93.E4.BA.89.E5.A4.BA.E9.9B.85.E5.85.B8.E9.A2.86.E5.9C.9F.E6.9D.83"></span><span class="mw-headline" id="与波赛頓争夺雅典领土权">與波賽頓爭奪雅典領土權</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=19" title="編輯章節：與波賽頓爭奪雅典領土權">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <div class="thumb tright"><div class="thumbinner" style="width:222px;"><a href="/wiki/File:Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune,_1689.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune%2C_1689.jpg/220px-Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune%2C_1689.jpg" width="220" height="154" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune%2C_1689.jpg/330px-Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune%2C_1689.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/10/Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune%2C_1689.jpg/440px-Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune%2C_1689.jpg 2x" data-file-width="2900" data-file-height="2032"></a>  <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:Ren%C3%A9-Antoine_Houasse_-_The_Dispute_of_Minerva_and_Neptune,_1689.jpg" class="internal" title="放大"></a></div>雅典娜與波賽冬之爭</div></div></div>
    <p>
        雅典娜備受希臘人民崇拜，尤其是雅典人，而雅典城是以她命名並受她守護的。雅典娜在與<a href="/wiki/%E6%B5%B7%E7%A5%9E" class="mw-redirect" title="海神">海神</a><a href="/wiki/%E6%B3%A2%E5%A1%9E%E9%A0%93" class="mw-redirect" title="波塞頓">波塞頓</a>比賽獻禮中以賜給<a href="/wiki/%E9%9B%85%E5%85%B8" title="雅典">雅典</a>公民<a href="/wiki/%E6%B2%B9%E6%A9%84%E6%A6%84" class="mw-redirect" title="油橄欖">油橄欖</a>樹獲勝，並成為雅典城的保護神。日後波塞頓因為聽取<a href="/wiki/%E7%BE%8E%E6%9D%9C%E8%8E%8E" title="美杜莎">美杜莎</a>的諂言，勾起當年的不滿，於是引來洪災，水淹阿提卡地區<sup id="cite_ref-20" class="reference"><a href="#cite_note-20">[20]</a></sup>。雅典娜為懲罰梅杜莎而使她變為蛇髮。
    </p>
    <h3><span id=".E8.88.87.E8.B5.AB.E8.8F.B2.E6.96.AF.E6.89.98.E6.96.AF"></span><span class="mw-headline" id="與赫菲斯托斯">與赫菲斯托斯</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=20" title="編輯章節：與赫菲斯托斯">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <div class="thumb tright"><div class="thumbinner" style="width:222px;"><a href="/wiki/File:Athena_Scorning_the_Advances_of_Hephaestus.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Athena_Scorning_the_Advances_of_Hephaestus.jpg/220px-Athena_Scorning_the_Advances_of_Hephaestus.jpg" width="220" height="241" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Athena_Scorning_the_Advances_of_Hephaestus.jpg/330px-Athena_Scorning_the_Advances_of_Hephaestus.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Athena_Scorning_the_Advances_of_Hephaestus.jpg/440px-Athena_Scorning_the_Advances_of_Hephaestus.jpg 2x" data-file-width="500" data-file-height="548"></a>  <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:Athena_Scorning_the_Advances_of_Hephaestus.jpg" class="internal" title="放大"></a></div>雅典娜拒絕赫菲斯托斯的追求</div></div></div>
    <p>
        雅典娜曾向匠神<a href="/wiki/%E8%B5%AB%E8%8F%B2%E6%96%AF%E6%89%98%E6%96%AF" class="mw-redirect" title="赫菲斯托斯">赫菲斯托斯</a>（Ἥφαιστος）借取青銅拍板（χάλκεος κρόταλον）給予海克力斯。所以可見兩人交情甚好。
    </p><p>
        赫菲斯托斯也很欣賞同為手工藝見長的女神。某日，雅典娜又來向他訂造新武器，赫菲斯托斯這時期因為<a href="/wiki/%E9%98%BF%E4%BD%9B%E6%B4%9B%E7%8B%84%E5%BF%92" title="阿佛洛狄忒">阿佛洛狄忒</a>和戰神<a href="/wiki/%E9%98%BF%E7%91%9E%E6%96%AF" title="阿瑞斯">阿瑞斯</a>偷情而大失所望，於是開始追逐雅典娜，雖然他是跛腳，也費了好大一番功夫終於追到雅典娜，欲與之<a href="/wiki/%E6%80%A7%E4%BA%A4" title="性交">交合</a>，卻被她嚴厲的叫聲打退，但是在過程中赫菲斯托斯的汗水等體液沾到了女神的大腿上，她趕緊用羊毛拭去汗水。並把羊毛丟下凡間，羊毛落地，便變成<span class="ilh-all" data-orig-title="厄里克托尼俄斯" data-lang-code="el" data-lang-name="希臘語" data-foreign-title="Εριχθόνιος"><span class="ilh-page"><a href="/w/index.php?title=%E5%8E%84%E9%87%8C%E5%85%8B%E6%89%98%E5%B0%BC%E4%BF%84%E6%96%AF&amp;action=edit&amp;redlink=1" class="new" original-title="厄里克托尼俄斯（頁面不存在）">厄里克托尼俄斯</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">希臘語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://el.wikipedia.org/wiki/%CE%95%CF%81%CE%B9%CF%87%CE%B8%CF%8C%CE%BD%CE%B9%CE%BF%CF%82" class="extiw" title="el:Εριχθόνιος"><span lang="el" dir="auto">Εριχθόνιος</span></a></span>）</span></span>（Ἐριχθόνιος ）。<sup id="cite_ref-21" class="reference"><a href="#cite_note-21">[21]</a></sup>
    </p><p>
        雅典娜把厄里克托尼俄斯當作自己的兒子，偷偷把他養大。雅典娜一心想讓他獲得永生，於是把他鎖在一個箱子裡，派一條蛇看護著。後來，雅典娜把這個箱子託付給雅典國王的三個女兒代為照看，並囑咐她們千萬不可以打開箱子，但好奇心最終驅使她們打開了箱子，發現裡面的孩子是條小蛇（或者是孩子身上纏著一條蛇），結果她們被神懲罰得了瘋病。
    </p>
    <h3><span id=".E5.B7.A8.E9.9D.88.E6.97.8F.E5.A4.A7.E6.88.B0"></span><span class="mw-headline" id="巨靈族大戰">巨靈族大戰</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=21" title="編輯章節：巨靈族大戰">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        在開戰前便把海克力斯帶到福雷格萊（Φλέγραι），向海克力斯指出阿爾基歐紐斯（Άλκυονεύς）的弱點。<sup id="cite_ref-22" class="reference"><a href="#cite_note-22">[22]</a></sup>在戰場上親自面對兩位巨靈族，活剝了帕拉斯（Πάλλας）的皮，在西西里島（Σικελία）舉起艾特納火山，把恩克拉多斯（Ἐγκέλαδος）壓死。<sup id="cite_ref-23" class="reference"><a href="#cite_note-23">[23]</a></sup>
    </p>
    <h3><span id=".E7.89.B9.E6.B4.9B.E4.BC.8A.E6.88.B0.E7.88.AD"></span><span class="mw-headline" id="特洛伊戰爭">特洛伊戰爭</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=22" title="編輯章節：特洛伊戰爭">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        在<a href="/wiki/%E9%87%91%E8%8B%B9%E6%9E%9C%E4%BA%8B%E4%BB%B6" title="金蘋果事件">金蘋果事件</a>中，天后赫拉、智慧女神雅典娜和愛與美女神阿佛洛狄忒為了競爭象徵最美女神的金蘋果而進行了一次選美比賽，裁判則是特洛伊王子<a href="/wiki/%E5%B8%95%E9%87%8C%E6%96%AF" title="帕里斯">帕里斯</a>。三位女神分別以權力、智慧和美女作為條件，讓帕里斯選出她們當中誰是最美的女神，然而帕里斯卻選擇了承諾給他人間第一美女的阿佛洛狄忒，因此阿佛洛狄忒助帕里斯拐走了希臘的王后海倫，使希臘眾城邦向特洛伊開戰，開始了長達十年之久的<a href="/wiki/%E7%89%B9%E6%B4%9B%E4%BC%8A%E6%88%98%E4%BA%89" title="特洛伊戰爭">特洛伊戰爭</a>。
    </p><p>
        阿基里斯與<a href="/wiki/%E9%98%BF%E4%BC%BD%E9%96%80%E8%BE%B2" class="mw-redirect" title="阿伽門農">阿伽門農</a>爭執，阿基里斯欲拔劍斬殺阿伽門農，赫拉派遣雅典娜到阿基里斯身邊，要他放下仇恨。<sup id="cite_ref-24" class="reference"><a href="#cite_note-24">[24]</a></sup>阿開歐斯人信心大失欲回希臘，雅典娜出現在奧德修斯身邊幫他打氣，奧德修斯見女神支持變勸回阿開歐斯人。<sup id="cite_ref-25" class="reference"><a href="#cite_note-25">[25]</a></sup>奉宙斯之命下凡要特洛伊人違反誓言，於是扮成特洛依矛兵拉歐多科斯找上潘達羅斯，要他射殺阿開歐斯人。<sup id="cite_ref-26" class="reference"><a href="#cite_note-26">[26]</a></sup>
    </p>
    <div class="thumb tright"><div class="thumbinner" style="width:252px;"><a href="/wiki/File:(9)_Flaxman_Ilias_Kupferstich_1795,_Zeichnung_1793,_186_x_364_mm.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6d/%289%29_Flaxman_Ilias_Kupferstich_1795%2C_Zeichnung_1793%2C_186_x_364_mm.jpg/250px-%289%29_Flaxman_Ilias_Kupferstich_1795%2C_Zeichnung_1793%2C_186_x_364_mm.jpg" width="250" height="132" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6d/%289%29_Flaxman_Ilias_Kupferstich_1795%2C_Zeichnung_1793%2C_186_x_364_mm.jpg/375px-%289%29_Flaxman_Ilias_Kupferstich_1795%2C_Zeichnung_1793%2C_186_x_364_mm.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6d/%289%29_Flaxman_Ilias_Kupferstich_1795%2C_Zeichnung_1793%2C_186_x_364_mm.jpg/500px-%289%29_Flaxman_Ilias_Kupferstich_1795%2C_Zeichnung_1793%2C_186_x_364_mm.jpg 2x" data-file-width="3483" data-file-height="1833"></a>  <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:(9)_Flaxman_Ilias_Kupferstich_1795,_Zeichnung_1793,_186_x_364_mm.jpg" class="internal" title="放大"></a></div>雅典娜隱去身形，親自為狄俄墨得斯駕車直向阿瑞斯奔去。</div></div></div>
    <p>
        雅典娜首度參加特洛伊戰爭，換下自己親手編織的刺繡彩袍，穿上宙斯的襯袍，披上盔甲。<sup id="cite_ref-27" class="reference"><a href="#cite_note-27">[27]</a></sup>在戰場上，雅典娜到希臘將領狄俄墨得斯身旁幫他對抗戰神阿瑞斯，在女神神力幫助下成功刺傷阿瑞斯，使阿瑞斯敗逃回天界。
    </p><p>
        阿基里斯痛失好友帕特羅克洛斯（Πάτροκλος），悲痛之間，不嗜食飲，不眠不睡，赫拉在天上觀之心有不捨，為了不願讓即將上戰場的阿基里斯病倒，於是派遣雅典娜下凡，暗中把天界之食－瓊漿玉液直接灌入阿基里斯體內<sup id="cite_ref-28" class="reference"><a href="#cite_note-28">[28]</a></sup>。
    </p><p>
        阿基里斯對戰赫克托爾(Ἕκτωρ)時，赫克托爾擲出長槍直射往阿基里斯，雅典娜輕吹一氣，長槍就偏離阿基里斯。<sup id="cite_ref-29" class="reference"><a href="#cite_note-29">[29]</a></sup>。
    </p><p>
        在特洛伊城前的眾神大戰中，雅典娜先對上戰神阿瑞斯，雅典娜用石頭打中阿瑞斯<sup id="cite_ref-30" class="reference"><a href="#cite_note-30">[30]</a></sup>。再到阿佛羅狄忒（Αφροδίτη）面前往他胸口打了一拳，阿佛羅狄忒立刻癱軟在地<sup id="cite_ref-31" class="reference"><a href="#cite_note-31">[31]</a></sup>。
    </p><p>
        希臘將領 大埃阿斯（Αἴας）<sup id="cite_ref-32" class="reference"><a href="#cite_note-32">[32]</a></sup>因為和奧德修斯競爭阿基里斯盔甲敗選，怒而出走到近郊原野，想把俄底修斯砍成碎片，雅典娜為保護俄底修斯，蒙住大埃阿斯的眼睛，大埃阿斯誤以為牧人和牛群為阿卡迪亞人馬而大肆斬殺，當他清醒時為此感到悲傷而自縊身亡。<sup id="cite_ref-33" class="reference"><a href="#cite_note-33">[33]</a></sup>
    </p><p>
        雅典娜所提供的<a href="/wiki/%E7%89%B9%E6%B4%9B%E4%BC%8A%E6%9C%A8%E9%A9%AC" class="mw-redirect" title="特洛伊木馬">木馬計</a>為攻陷特洛伊立下了汗馬功勞。
    </p><p>
        希臘另一位將領 小埃阿斯<sup id="cite_ref-34" class="reference"><a href="#cite_note-34">[34]</a></sup>的將領在攻陷特洛依城時，到雅典娜神殿洗劫財物，並在神殿內的雅典娜木像前強汙女祭司—卡珊德拉（Κασσάνδρα）。之後希臘軍預言者 卡爾卡斯（Κάλχας）預言此舉已使雅典娜生氣，希臘軍眾人慾殺小埃阿斯以平息女神怒氣，但小埃阿斯卻逃回雅典娜神殿裡，由於希臘鐵律規定"不許殺害神殿中人"，於是眾人便放過小埃阿斯。<sup id="cite_ref-35" class="reference"><a href="#cite_note-35">[35]</a></sup>
    </p>
    <h3><span id=".E7.89.B9.E6.B4.9B.E4.BC.8A.E6.88.B0.E5.BE.8C.EF.BC.8C.E5.B8.8C.E8.87.98.E8.BB.8D.E8.BF.94.E9.84.89"></span><span class="mw-headline" id="特洛伊戰後，希臘軍返鄉">特洛伊戰後，希臘軍返鄉</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=23" title="編輯章節：特洛伊戰後，希臘軍返鄉">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        在所有希臘船隊歸返時，雅典娜為了卡珊德拉而開始給予希臘人報復。
    </p><p>
        雅典娜請求宙斯給予風暴吹襲希臘船隊，讓許多船都沉沒在特內斯島（Τέννης）附近海域<sup id="cite_ref-36" class="reference"><a href="#cite_note-36">[36]</a></sup>。扔下一道霹靂在小埃阿斯的船隊上，所有船都毀壞沉沒，只有小埃阿斯一人游到礁石上獲救，小埃阿斯自以為神明如何作弄他都能獲救，但波塞頓用三叉戟切碎礁石，使小埃阿斯溺斃。<sup id="cite_ref-37" class="reference"><a href="#cite_note-37">[37]</a></sup>
    </p><p>
        <a href="/wiki/%E5%A5%A5%E5%BE%B7%E4%BF%AE%E6%96%AF" title="奧德修斯">奧德修斯</a>返鄉的故事中，雅典娜擔當著奧德修斯的保護者，並幫他和那裡的人民訂立盟約成為國王。
    </p>
    <h3><span id=".E4.B8.8E.E8.B5.AB.E6.8B.89.E7.9A.84.E5.85.B3.E7.B3.BB"></span><span class="mw-headline" id="与赫拉的关系">與赫拉的關係</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=24" title="編輯章節：與赫拉的關係">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        作為貞女的雅典娜與她父親宙斯的妻子赫拉關係特別要好，兩人的共同特點就是她們都是風流放蕩的女愛神阿佛洛狄忒的死對頭。雖然雅典娜是父權制的代言人，但也同樣得遵從天后赫拉的旨意行事。例如雅典娜參加了赫拉對宙斯發起的造反計劃，和波賽冬一同將宙斯捆綁起來，由於宙斯的情人忒提斯召喚出<a href="/wiki/%E7%99%BE%E8%87%82%E5%B7%A8%E4%BA%BA" title="百臂巨人">百臂巨人</a>才把他們給嚇跑。
    </p><p>
        由於她們在<a href="/wiki/%E5%B8%95%E9%87%8C%E6%96%AF%E7%9A%84%E8%AF%84%E5%88%A4" title="帕里斯的評判">帕里斯的評判</a>中受到了屈辱，所以在<a href="/wiki/%E7%89%B9%E6%B4%9B%E4%BC%8A%E6%88%98%E4%BA%89" title="特洛伊戰爭">特洛伊戰爭</a>中她們聯手幫助希臘軍隊取勝，並指使狄俄墨得斯行刺阿佛洛狄忒。另外在<a href="/wiki/%E9%98%BF%E8%80%B3%E6%88%88%E8%88%B9%E8%8B%B1%E9%9B%84" class="mw-redirect" title="阿耳戈船英雄">阿耳戈船英雄</a>的故事裡，雅典娜協助赫拉保護航海冒險的阿耳戈船英雄們。由此可見，她們的關係特別親密。
    </p>
    <blockquote class="toccolours" style="float:none; display:table;">
        <div style="padding: 10px 15px 10px 15px;">
            赫拉從晨星閃爍的空中俯視著，她緊緊抓住雅典娜的手，因為她看得不禁頭暈眼花了。—阿耳戈英雄們在歸途中
        </div>
    </blockquote>
    <p>
        雅典娜雖然經常聽從赫拉的使喚，但有時候雅典娜也會幫助宙斯算計赫拉，例如赫拉和雅典娜在散步時，雅典娜將赫拉引到宙斯最愛的兒子海克力斯被拋棄的地方，並勸誘赫拉給孩子餵奶喝，結果幼小的海克力斯獲得了神的力量。
    </p>
    <ul class="gallery mw-gallery-traditional">
        <li class="gallerybox" style="width: 155px">
            <div style="width: 155px">
                <div class="thumb" style="width: 150px;"><div style="margin:30.5px auto;"><a href="/wiki/File:(2)_Flaxman_Ilias_1793,_gestochen_1795,_185_x_251_mm.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/%282%29_Flaxman_Ilias_1793%2C_gestochen_1795%2C_185_x_251_mm.jpg/120px-%282%29_Flaxman_Ilias_1793%2C_gestochen_1795%2C_185_x_251_mm.jpg" width="120" height="89" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/%282%29_Flaxman_Ilias_1793%2C_gestochen_1795%2C_185_x_251_mm.jpg/180px-%282%29_Flaxman_Ilias_1793%2C_gestochen_1795%2C_185_x_251_mm.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/67/%282%29_Flaxman_Ilias_1793%2C_gestochen_1795%2C_185_x_251_mm.jpg/240px-%282%29_Flaxman_Ilias_1793%2C_gestochen_1795%2C_185_x_251_mm.jpg 2x" data-file-width="3110" data-file-height="2316"></a></div></div>
                <div class="gallerytext">
                    <p>
                        忒提斯召喚百臂巨人解救宙斯。
                    </p>
                </div>
            </div>
        </li>
        <li class="gallerybox" style="width: 155px">
            <div style="width: 155px">
                <div class="thumb" style="width: 150px;"><div style="margin:31px auto;"><a href="/wiki/File:Hera,_Athena_and_Iris_in_the_Trojan_War_(Attributed_to_Jacques_R%C3%A9attu).jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Hera%2C_Athena_and_Iris_in_the_Trojan_War_%28Attributed_to_Jacques_R%C3%A9attu%29.jpg/120px-Hera%2C_Athena_and_Iris_in_the_Trojan_War_%28Attributed_to_Jacques_R%C3%A9attu%29.jpg" width="120" height="88" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Hera%2C_Athena_and_Iris_in_the_Trojan_War_%28Attributed_to_Jacques_R%C3%A9attu%29.jpg/180px-Hera%2C_Athena_and_Iris_in_the_Trojan_War_%28Attributed_to_Jacques_R%C3%A9attu%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Hera%2C_Athena_and_Iris_in_the_Trojan_War_%28Attributed_to_Jacques_R%C3%A9attu%29.jpg/240px-Hera%2C_Athena_and_Iris_in_the_Trojan_War_%28Attributed_to_Jacques_R%C3%A9attu%29.jpg 2x" data-file-width="700" data-file-height="515"></a></div></div>
                <div class="gallerytext">
                    <p>
                        赫拉叫上身披盔甲的雅典娜，並駕著自己的黃金戰車一同奔赴戰場。
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <h3><span id=".E6.B3.A8.E9.87.8D.E5.BD.A2.E8.B1.A1.E7.9A.84.E9.9B.85.E5.85.B8.E5.A8.9C"></span><span class="mw-headline" id="注重形象的雅典娜">注重形象的雅典娜</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=25" title="編輯章節：注重形象的雅典娜">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <p>
        身為美貌與智慧並重的女神，雅典娜也特別在意自己的儀容儀表。例如雅典娜發明了笛子，並在眾神面前吹奏這種樂器，卻遭到了赫拉和阿佛洛狄忒的嘲笑。因為雅典娜在吹笛子時，她的雙頰會鼓起，使臉部看上去十分滑稽。因此雅典娜非常生氣，就跑到一條河邊，對著水面吹奏笛子，以在水面倒影上觀察自己在吹笛子時她究竟變成了什麼模樣。當她明白赫拉和阿佛洛狄忒為什麼會嘲笑自己時，她就把笛子給扔掉了，並詛咒誰敢撿起這笛子，誰就不得好死。
    </p><p>
        雅典娜的美麗給人一種凜然不可侵犯的印象，對於冒犯她美貌的人也決不心慈手軟。美杜莎不自量力地和雅典娜比美，自吹她的頭髮比雅典娜的還要漂亮，因此激怒了雅典娜。雅典娜奪走了她的美貌，並詛咒她變成了蛇髮女妖。
    </p><p>
        雅典娜還參與了金蘋果事件和帕里斯的評判，為獲得象徵「最美女神」的金蘋果而與赫拉和阿佛洛狄忒比美。
    </p><p>
        雅典娜還是美容師。雅典娜喬裝打扮，在奧德修斯和公主<a href="/wiki/%E7%91%99%E8%A5%BF%E5%8D%A1" title="瑙西卡">瑙西卡</a>會面之時為其美容，幫他仔細梳妝打扮，讓他通過容光煥發的個人魅力來引起眾人的重視。在諸神的宴會上，雅典娜還告訴赫拉最近發現一種葉子，用它的汁兒畫眉毛效果非常好，還親自掀起發簾兒給赫拉做示範。
    </p>
    <h3><span id=".E6.81.A9.E6.83.A0.E8.88.87.E6.87.B2.E7.BD.B0"></span><span class="mw-headline" id="恩惠與懲罰">恩惠與懲罰</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=26" title="編輯章節：恩惠與懲罰">編輯</a><span class="mw-editsection-bracket">]</span></span></h3>
    <ul>
        <li>在珀修斯（Περσεύς）在尋找戈爾工途中雅典娜給予一面青銅鏡盾（ἀσπίδα χαλκῆν），盾面光滑如鏡，佩爾修斯借反射影像避免直接看到梅杜莎的臉。日後柏修斯也把梅杜莎的頭獻給雅典娜，雅典娜將它配置在山羊皮盾牌中間。<sup id="cite_ref-38" class="reference"><a href="#cite_note-38">[38]</a></sup></li>
        <li>給予海克力斯一對從赫菲斯托斯所打造的青銅拍板，讓他驅逐<a href="/wiki/%E6%96%AF%E5%BB%B7%E6%B3%95%E5%88%A9%E6%96%AF%E6%B9%96%E6%80%AA%E9%B8%9F" title="斯廷法利斯湖怪鳥">斯廷法利斯湖怪鳥</a>（Στυμφαλίδες Όρνιθες）。<sup id="cite_ref-39" class="reference"><a href="#cite_note-39">[39]</a></sup></li>
        <li>海克力斯從亞特拉斯手上得到三顆金蘋果，但是金蘋果非是凡人所能得，於是給予雅典娜，讓她送回遠西之地。<sup id="cite_ref-40" class="reference"><a href="#cite_note-40">[40]</a></sup></li>
        <li>醫神<a href="/wiki/%E9%98%BF%E6%96%AF%E5%85%8B%E5%8B%92%E5%BA%87%E4%BF%84%E6%96%AF" title="阿斯克勒庇俄斯">阿斯克勒庇俄斯</a>（Ἀσκληπιός）從雅典娜那裡取得戈耳工的血管。<sup id="cite_ref-41" class="reference"><a href="#cite_note-41">[41]</a></sup>美杜莎左邊血管的血液是致命的毒藥，而右邊血管的血液卻有起死回生的功效。</li>
        <li>卡德摩斯（Κάδμος）斬殺戰神泉的守護龍後得到雅典娜的讚賞，於是現身指示<a href="/wiki/%E5%8D%A1%E5%BE%B7%E6%91%A9%E6%96%AF" title="卡德摩斯">卡德摩斯</a>如何播種龍牙。<sup id="cite_ref-42" class="reference"><a href="#cite_note-42">[42]</a></sup>並把一半的龍牙給予科爾奇斯的埃厄忒斯（Αἰήτης）。<sup id="cite_ref-43" class="reference"><a href="#cite_note-43">[43]</a></sup></li>
        <li>眾神參加卡德摩斯與<a href="/wiki/%E5%93%88%E8%80%B3%E6%91%A9%E5%B0%BC%E4%BA%9E_(%E5%B8%8C%E8%87%98%E7%A5%9E%E8%A9%B1)" title="哈耳摩尼亞 (希臘神話)">哈耳摩尼亞</a>（Ἁρμονία）的婚禮，雅典娜規劃出特拜城的領地<sup id="cite_ref-44" class="reference"><a href="#cite_note-44">[44]</a></sup>，賜予卡德摩斯一個國家。<sup id="cite_ref-45" class="reference"><a href="#cite_note-45">[45]</a></sup></li>
        <li>特拜城（Θῆβαι）的先知預言家特瑞西亞斯（Τειρεσίας）的母親是寧芙女神卡莉克洛（Χαρικλώ），也是雅典娜的好友。特瑞西亞斯有一次在無意間看到雅典娜的裸體，雅典娜立即用雙手遮住特瑞西亞斯的雙眼，不料特瑞西阿斯因此眼盲。卡莉克洛請求女神幫兒子恢復，但是女神做不到，不過她給特瑞西亞斯洗淨雙耳，讓他得以聽見鳥語，再給他一把結果實的柺杖代替眼睛。不過這只是特瑞西亞斯瞎眼由來的傳說之一。<sup id="cite_ref-46" class="reference"><a href="#cite_note-46">[46]</a></sup></li>
        <li>阿爾哥斯的七雄之一提丟斯（Τυδεύς）被梅拉尼波斯（Μελανίππος）刺中腹部，半生不死間，雅典娜從宙斯處得來一種藥可讓他長生不老。救活的提丟斯卻因殘忍地吃了梅拉尼波斯的腦袋，而被雅典娜收回長生不老的恩惠。<sup id="cite_ref-47" class="reference"><a href="#cite_note-47">[47]</a></sup></li>
        <li>達納歐斯的女兒們殺死艾及普托斯的四十九位兒子，宙斯指派雅典娜和赫爾密斯去懲罰她們。<sup id="cite_ref-48" class="reference"><a href="#cite_note-48">[48]</a></sup></li>
        <li>雅典王凱克羅普斯（Κέκρωψ）生有三女亞格勞洛斯（Ἄγραυλος）、赫爾賽（ Ἕρση）、潘德羅索思（Πάνδροσος），雅典娜瞞著天神偷偷眷養艾力克托紐斯，將它裝在盒子裡，囑咐潘德羅索思看顧，但是其他姐妹們因為好奇心將他打開，發現嬰兒被一條大蛇纏繞<sup id="cite_ref-49" class="reference"><a href="#cite_note-49">[49]</a></sup>，她們因此投河自盡。<sup id="cite_ref-50" class="reference"><a href="#cite_note-50">[50]</a></sup></li>
        <li>孤兒阿拉克妮擅長編織，曾經與雅典娜競技。由於阿拉克妮的傲慢，被雅典娜變成了一隻蜘蛛。</li>
        <li>戴達羅斯的姪子佩爾狄克斯因為才能比戴達羅斯還高，忌妒心起，憤而把他從雅典衛城往下推，危急之刻，雅典娜將他變成鷓鴣。<sup id="cite_ref-51" class="reference"><a href="#cite_note-51">[51]</a></sup></li>
    </ul>
    <h2><span id=".E9.9B.85.E5.85.B8.E5.A8.9C.E7.9A.84.E4.BE.86.E6.AD.B7"></span><span class="mw-headline" id="雅典娜的來歷">雅典娜的來歷</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=27" title="編輯章節：雅典娜的來歷">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <p>
        [[File:Athena Parthenos LeQuire.jpg|thumb|right|210px|安座於美國田納西州（Tennessee）那許維爾的<a href="/w/index.php?title=%E5%B8%95%E5%BE%B7%E5%AB%A9%E7%A5%9E%E5%BB%9F_(%E7%B4%8D%E8%A8%B1%E7%B6%AD%E7%9F%B3%E8%86%8F%E3%80%81%E7%8E%BB%E7%92%83%E7%BA%96%E7%B6%AD%E3%80%81%E9%8B%BC%E7%AD%8B%EF%BC%8C%E6%9C%80%E5%BE%8C%E9%A3%BE%E4%BB%A5%E9%87%91%E7%AE%94%E6%89%80%E9%9B%95%E5%A1%91%EF%BC%8C%E9%87%8D%E7%8F%BE%E4%BA%86%E9%9B%85%E5%85%B8%E5%A8%9C%E5%A5%B3%E7%A5%9E%E8%8E%8A%E5%9A%B4%E7%9A%84%E5%A8%81%E5%84%80%E3%80%82&amp;action=edit&amp;redlink=1" class="new" title="帕德嫩神廟 (納許維石膏、玻璃纖維、鋼筋，最後飾以金箔所雕塑，重現了雅典娜女神莊嚴的威儀。（頁面不存在）">帕德嫩神廟 (納許維石膏、玻璃纖維、鋼筋，最後飾以金箔所雕塑，重現了雅典娜女神莊嚴的威儀。</a>
        據希羅多德的《歷史》所記，<a href="/w/index.php?title=%E5%A5%A7%E8%B3%BD%E8%89%BE%E6%96%AF%E6%97%8F&amp;action=edit&amp;redlink=1" class="new" title="奧賽艾斯族（頁面不存在）">奧賽艾斯族</a>（Αὐσέες）認為雅典娜女神來自<a href="/wiki/%E5%9F%83%E5%8F%8A" title="埃及">埃及</a>，是<a href="/wiki/%E6%B3%A2%E8%B5%9B%E4%B8%9C" class="mw-redirect" title="波賽東">波賽東</a>和<a href="/w/index.php?title=%E7%89%B9%E9%87%8C%E6%89%98%E5%B0%BC%E6%96%AF&amp;action=edit&amp;redlink=1" class="new" title="特里托尼斯（頁面不存在）">特里托尼斯</a>（Τριτωνίς）湖神女的女兒，後來因為不知名原因而離開波賽冬，投靠<a href="/wiki/%E5%AE%99%E6%96%AF" title="宙斯">宙斯</a><sup id="cite_ref-52" class="reference"><a href="#cite_note-52">[52]</a></sup>。雅典娜衣著的形象和羊毛皮上衣也來自北非利比亞民族的傳統服裝<sup id="cite_ref-53" class="reference"><a href="#cite_note-53">[53]</a></sup>。
    </p><p>
        綜觀希臘神話，唯獨雅典娜和<a href="/wiki/%E7%8B%84%E4%BF%84%E5%80%AA%E7%B4%A2%E6%96%AF" title="狄俄倪索斯">狄俄倪索斯</a>兩位神祇出生最為特別，<a href="/wiki/%E8%8D%B7%E9%A6%AC%E5%8F%B2%E8%A9%A9" class="mw-redirect" title="荷馬史詩">荷馬史詩</a>、<a href="/wiki/%E7%A5%9E%E8%AD%9C" class="mw-redirect" title="神譜">神譜</a>、<a href="/wiki/%E6%9B%B8%E5%BA%AB" title="書庫">書庫</a>等都有相當獨立篇幅詳述。為了這兩位外來神祇融入希臘本土文化作一個合法釋說便是以宙斯之子為名。狄俄倪索斯是來自小亞細亞弗里吉亞的地方神祇，其母<a href="/wiki/%E5%A1%9E%E5%A2%A8%E5%8B%92" title="塞墨勒">塞墨勒</a>（Σεμέλη）在<a href="/wiki/%E5%BC%97%E9%87%8C%E5%90%89%E4%BA%9A" title="弗里吉亞">弗里吉亞</a>被奉為大地女神。
    </p><p>
        埃及人會這麼認為似乎是暗喻希臘文明有一部分也是受埃及文化影響，雅典娜象徵智慧並在希臘文化中享有盛名，暗喻希臘人之所以強盛聰盈是豐收埃及文明高度發展後的成果，《歷史》說「投靠宙斯」，就是等於文明往希臘發展。
    </p><p>
        今天<a href="/wiki/%E9%9B%85%E5%85%B8%E5%8D%AB%E5%9F%8E" class="mw-redirect" title="雅典衛城">雅典衛城</a>中的<a href="/wiki/%E5%B7%B4%E7%89%B9%E5%86%9C%E7%A5%9E%E5%BA%99" class="mw-redirect" title="巴特農神廟">巴特農神殿</a>就是用來<a href="/wiki/%E7%A5%AD%E7%A5%80" title="祭祀">祭祀</a>祂的，此外廟裏面有一座祂的<a href="/wiki/%E9%9B%85%E5%85%B8%E5%A8%9C%C2%B7%E5%B8%95%E5%BE%B7%E5%AB%A9" title="雅典娜·帕德嫩">巨大雕像</a>。
    </p>
    <h2><span id=".E9.9B.85.E5.85.B8.E5.A8.9C.E8.BA.AB.E9.82.8A.E7.9A.84.E7.A5.9E.E7.A5.87"></span><span class="mw-headline" id="雅典娜身邊的神祇">雅典娜身邊的神祇</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=28" title="編輯章節：雅典娜身邊的神祇">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <p>
        荷馬史詩中出現了一些新神祇，首見於伊利亞特中。
    </p>
    <ul>
        <li>恐怖神佛波斯（<span lang="el">Φόβος</span>）</li>
        <li>不合女神艾莉斯（<span lang="el">Ἔρις</span>）</li>
        <li>勇敢女神亞爾克（<span lang="el">Ἀλκή</span>）</li>
        <li>襲擊女神伊歐克（<span lang="el">Ἰωκή</span>）</li>
    </ul>
    <p>
        這些是雅典娜在著裝時出現在身邊的神，是戰爭的擬人化。<sup id="cite_ref-54" class="reference"><a href="#cite_note-54">[54]</a></sup>
    </p>
    <h2><span id=".E9.9B.85.E5.85.B8.E5.A8.9C.E7.9A.84.E7.A8.B1.E8.AC.82"></span><span class="mw-headline" id="雅典娜的稱謂">雅典娜的稱謂</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=29" title="編輯章節：雅典娜的稱謂">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <ul>
        <li><span lang="el">Παλλὰς Ἀθήνη</span>　「帕拉斯·雅典娜」</li>
        <li><span lang="el">Γλαυκώπις</span>　「明眸女神」</li>
        <li><span lang="el">Ἀηδών</span>　「夜鶯女神」</li>
        <li><span lang="el">θύγατερ Διὸς αἰγιόχοιο</span>　「宙斯的提盾之子」</li>
        <li><span lang="el">Μουσική</span>　「詩曲女神」</li>
        <li><span lang="el">αἰγίοχος</span>　「提盾者」</li>
        <li><span lang="el">Ὀφθαλμῖτις</span>　「護睛女神」</li>
        <li><span lang="el">Κορία/Κόρη</span>　「少女神」</li>
        <li><span lang="el">Πρόμαχος</span>　「在前方戰鬥者」</li>
        <li><span lang="el">Ἐργάνη</span>　「女紅女神」</li>
        <li><span lang="el">Άτρυτώνη</span>　「不倦女神」</li>
        <li><span lang="el">Ἄγλαυρος</span>　「田畦女神」</li>
        <li><span lang="el">Παρθένος</span>　「處女神」</li>
        <li><span lang="en">The Queen of Spades</span>「黑桃皇后」（<a href="/wiki/%E6%92%B2%E5%85%8B%E7%89%8C" class="mw-redirect" title="撲克牌">撲克牌</a>中）</li>
    </ul>
    <h2><span id=".E5.A4.A7.E7.9C.BE.E6.96.87.E5.8C.96"></span><span class="mw-headline" id="大眾文化">大眾文化</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=30" title="編輯章節：大眾文化">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <ul><li><a href="/wiki/%E6%92%B2%E5%85%8B%E7%89%8C" class="mw-redirect" title="撲克牌">撲克牌</a>中的黑桃Q以雅典娜為人物原型。</li></ul>
    <h2><span id=".E6.B3.A8.E9.87.8A"></span><span class="mw-headline" id="注释">注釋</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=%E9%9B%85%E5%85%B8%E5%A8%9C&amp;action=edit&amp;section=31" title="編輯章節：注釋">編輯</a><span class="mw-editsection-bracket">]</span></span></h2>
    <div class="reflist columns references-column-count references-column-count-3" style="-moz-column-count: 3; -webkit-column-count: 3; column-count: 3; list-style-type: decimal;">
        <ol class="references">
            <li id="cite_note-1">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-1"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">《古希臘語漢語詞典》 羅念生 水建馥，北京：商務印書館，2004</span>
            </li>
            <li id="cite_note-2">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-2"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text"><b>ἀθή</b>ρ原義為「穀穗」後來引申為「尖銳兵器」＋αἰ<b>νή</b>「忌憚，可怕」或αἴ<b>νη</b>「稱讚，名望」</span>
            </li>
            <li id="cite_note-3">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-3"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">變形記－XV.79</span>
            </li>
            <li id="cite_note-4">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-4"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">變形記－ II.749</span>
            </li>
            <li id="cite_note-5">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-5"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">冥界的園丁被<a href="/wiki/%E5%BE%97%E5%A2%A8%E5%BF%92%E8%80%B3" title="得墨忒耳">得墨忒耳</a>用巨石壓住身體，後來<a href="/wiki/%E8%B5%AB%E6%8B%89%E5%85%8B%E5%8B%92%E6%96%AF" title="海克力斯">海克力斯</a>闖冥界時把石頭移開，得墨忒耳再把它變為鴞。</span>
            </li>
            <li id="cite_note-6">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-6"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">古希臘語：γλαύξ（glauks）「<a href="/wiki/%E9%B4%9E" class="mw-redirect" title="鴞">鴞</a>」，Γλαυκώπις「灰眸、目光炯炯的」＝γλαυκός（glaukos）「銀灰色、亮眼的微光」＋ὤψ「眼睛」，希臘鴞多為灰色或褐色，從單字可對照他們的關係。鴞象徵災厄，雅典娜身為戰爭女神右手停著鴞，戰爭也是災厄的一種，但在戰場時右手停著勝利女神<a href="/wiki/%E5%B0%BC%E5%88%BB" title="尼刻">尼刻</a>。</span>
            </li>
            <li id="cite_note-7">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-7"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 5－743</span>
            </li>
            <li id="cite_note-8">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-8"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 5－735</span>
            </li>
            <li id="cite_note-9">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-9"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 5－738</span>
            </li>
            <li id="cite_note-10">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-10"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">是一種動物的皮，αἴξ「山羊」</span>
            </li>
            <li id="cite_note-11">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-11"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－6.2</span>
            </li>
            <li id="cite_note-12">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-12"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－4.11</span>
            </li>
            <li id="cite_note-13">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-13"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－9.16</span>
            </li>
            <li id="cite_note-14">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-14"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 II－1.4</span>
            </li>
            <li id="cite_note-15">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-15"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－4.2</span>
            </li>
            <li id="cite_note-16">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-16"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">變形記－ XV.389</span>
            </li>
            <li id="cite_note-17">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-17"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊索寓言–ΡΚΔ'–Ζεὺς καὶ Προμηθεὺς καὶ Ἀθηνᾶ καὶ Μῶμος「」</span>
            </li>
            <li id="cite_note-18">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-18"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－3.6</span>
            </li>
            <li id="cite_note-19">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-19"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">荷馬讚美詩（Ὁμηρικοὶ Ὓμνοι）第28章－讚頌雅典娜之二（Εἲς Ἀθηνᾶν－II）</span>
            </li>
            <li id="cite_note-20">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-20"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－14.1</span>
            </li>
            <li id="cite_note-21">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-21"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－14.6</span>
            </li>
            <li id="cite_note-22">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-22"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－6.1</span>
            </li>
            <li id="cite_note-23">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-23"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－6.2</span>
            </li>
            <li id="cite_note-24">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-24"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 I－149</span>
            </li>
            <li id="cite_note-25">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-25"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 I－167</span>
            </li>
            <li id="cite_note-26">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-26"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 4－86</span>
            </li>
            <li id="cite_note-27">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-27"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 5－733</span>
            </li>
            <li id="cite_note-28">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-28"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 19－49</span>
            </li>
            <li id="cite_note-29">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-29"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 20－438</span>
            </li>
            <li id="cite_note-30">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-30"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 21－392</span>
            </li>
            <li id="cite_note-31">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-31"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 21－423</span>
            </li>
            <li id="cite_note-32">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-32"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">人稱特拉蒙之子．艾阿斯（Αἴας Τελαμώνιος），通稱大艾阿斯</span>
            </li>
            <li id="cite_note-33">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-33"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫－節錄文本 5－6</span>
            </li>
            <li id="cite_note-34">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-34"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">人稱歐伊留斯之子．艾阿斯（Αἴας Ὀϊλῆος），通稱小艾阿斯</span>
            </li>
            <li id="cite_note-35">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-35"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫－節錄文本 5－23</span>
            </li>
            <li id="cite_note-36">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-36"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫－節錄文本 6－5</span>
            </li>
            <li id="cite_note-37">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-37"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫－節錄文本 6－6</span>
            </li>
            <li id="cite_note-38">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-38"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 II－4.2</span>
            </li>
            <li id="cite_note-39">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-39"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 II－5.6</span>
            </li>
            <li id="cite_note-40">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-40"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 II－5.11</span>
            </li>
            <li id="cite_note-41">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-41"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－10.3</span>
            </li>
            <li id="cite_note-42">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-42"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－4.1</span>
            </li>
            <li id="cite_note-43">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-43"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 I－9.23</span>
            </li>
            <li id="cite_note-44">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-44"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">特拜周圍地區稱為卡德美亞（Κάδμεια），是為紀念卡德摩斯（Κάδμος）。特拜（Θῆβαι）這名稱是在卡德摩斯退位許久之後被外來政權的安菲翁（Ἀμφίων ）和仄托斯（Ζῆθος）所改名而來。</span>
            </li>
            <li id="cite_note-45">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-45"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－4.2</span>
            </li>
            <li id="cite_note-46">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-46"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－6.7</span>
            </li>
            <li id="cite_note-47">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-47"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－4.8</span>
            </li>
            <li id="cite_note-48">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-48"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 II－1.5</span>
            </li>
            <li id="cite_note-49">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-49"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">雅典娜為了讓艾力克托紐斯長生不死，所以將他和蛇一起裝在盒子裡，"蛇"和"不死"或"醫療"在古希臘神秘信仰中有極為密切的關係</span>
            </li>
            <li id="cite_note-50">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-50"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">書庫 III－14.6</span>
            </li>
            <li id="cite_note-51">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-51"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">變形記－ VIII.252，佩爾狄克斯Πέρδιξ，鷓鴣的希臘語：πέρδιξ，拉丁語：perdix</span>
            </li>
            <li id="cite_note-52">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-52"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">《歷史》第4書180段</span>
            </li>
            <li id="cite_note-53">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-53"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">《歷史》第4書189段</span>
            </li>
            <li id="cite_note-54">
                <span class="mw-cite-backlink"><b><a href="#cite_ref-54"><span class="cite-accessibility-label">移至 </span>^</a></b></span> <span class="reference-text">伊利亞特 5－739</span>
            </li>
        </ol>
    </div>
    <table cellspacing="0" class="navbox" style="border-spacing:0"><tbody><tr><td style="padding:2px"><table cellspacing="0" class="nowraplinks collapsible uncollapsed navbox-inner" style="border-spacing:0;background:transparent;color:inherit" id="collapsibleTable0"><tbody><tr><th scope="col" class="navbox-title" colspan="2" style="background:#e6e6fa;"><span class="collapseButton">[<a id="collapseButton0" href="#">隱藏</a>]</span><div class="plainlinks hlist navbar mini"><ul><li class="nv-view"><a href="/wiki/Template:%E5%A5%A5%E6%9E%97%E6%B3%A2%E6%96%AF%E7%A5%9E" title="Template:奧林波斯神"><abbr title="檢視該模板" style=";background:#e6e6fa;;background:none transparent;border:none;">閱</abbr></a></li><li class="nv-talk"><a href="/w/index.php?title=Template_talk:%E5%A5%A5%E6%9E%97%E6%B3%A2%E6%96%AF%E7%A5%9E&amp;action=edit&amp;redlink=1" class="new" title="Template talk:奧林波斯神（頁面不存在）"><abbr title="討論該模板" style=";background:#e6e6fa;;background:none transparent;border:none;">論</abbr></a></li><li class="nv-edit"><a class="external text" href="//zh.wikipedia.org/w/index.php?title=Template:%E5%A5%A5%E6%9E%97%E6%B3%A2%E6%96%AF%E7%A5%9E&amp;action=edit"><abbr title="編輯該模板" style=";background:#e6e6fa;;background:none transparent;border:none;">編</abbr></a></li></ul></div><div style="font-size:110%"><a href="/wiki/%E5%A5%A5%E6%9E%97%E5%8C%B9%E6%96%AF%E7%A5%9E" class="mw-redirect" title="奧林匹斯神">奧林匹斯神</a></div></th></tr><tr style="height:2px"><td colspan="2"></td></tr><tr><td colspan="2" class="navbox-list navbox-odd" style="width:100%;padding:0px;padding:0.25em 0; line-height:1.2em;"><div style="padding:0em 0.25em"><a href="/wiki/%E5%AE%99%E6%96%AF" title="宙斯">宙斯</a> - <a href="/wiki/%E8%B5%AB%E6%8B%89" title="赫拉">赫拉</a> - <a href="/wiki/%E6%B3%A2%E5%A1%9E%E5%86%AC" title="波塞冬">波塞冬</a> - <a href="/wiki/%E5%BE%97%E5%A2%A8%E5%BF%92%E8%80%B3" title="得墨忒耳">得墨忒耳</a> - <a href="/wiki/%E9%98%BF%E6%B3%A2%E7%BD%97" title="阿波羅">阿波羅</a> - <a href="/wiki/%E9%98%BF%E8%80%B3%E5%BF%92%E5%BC%A5%E6%96%AF" title="阿耳忒彌斯">阿耳忒彌斯</a> - <a href="/wiki/%E8%B5%AB%E6%B7%AE%E6%96%AF%E6%89%98%E6%96%AF" title="赫淮斯托斯">赫淮斯托斯</a> - <a class="mw-selflink selflink">雅典娜</a> - <a href="/wiki/%E9%98%BF%E7%91%9E%E6%96%AF" title="阿瑞斯">阿瑞斯</a> - <a href="/wiki/%E9%98%BF%E4%BD%9B%E6%B4%9B%E7%8B%84%E5%BF%92" title="阿佛洛狄忒">阿佛洛狄忒</a> - <a href="/wiki/%E8%B5%AB%E8%80%B3%E5%A2%A8%E6%96%AF" title="赫耳墨斯">赫耳墨斯</a> - <a href="/wiki/%E8%B5%AB%E6%96%AF%E6%8F%90%E4%BA%9E" title="赫斯提亞">赫斯提亞</a><br>有時包括：<a href="/wiki/%E7%8B%84%E4%BF%84%E5%80%AA%E7%B4%A2%E6%96%AF" title="狄俄倪索斯">狄俄倪索斯</a> - <a href="/wiki/%E5%93%88%E5%BE%97%E6%96%AF" title="哈得斯">哈得斯</a></div></td></tr></tbody></table></td></tr></tbody></table>
    <table cellspacing="0" class="navbox" style="border-spacing:0">
        <tbody>
            <tr>
                <td style="padding:2px">
                    <table cellspacing="0" class="nowraplinks hlist collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit" id="collapsibleTable1">
                        <tbody>
                            <tr><th scope="col" class="navbox-title" colspan="2"><span class="collapseButton">[<a id="collapseButton1" href="#">顯示</a>]</span><div class="plainlinks hlist navbar mini"><ul><li class="nv-view"><a href="/wiki/Template:%E5%9B%BD%E5%AE%B6%E5%8C%96%E8%BA%AB" title="Template:國家化身"><abbr title="檢視該模板" style=";;background:none transparent;border:none;">閱</abbr></a></li><li class="nv-talk"><a href="/w/index.php?title=Template_talk:%E5%9B%BD%E5%AE%B6%E5%8C%96%E8%BA%AB&amp;action=edit&amp;redlink=1" class="new" title="Template talk:國家化身（頁面不存在）"><abbr title="討論該模板" style=";;background:none transparent;border:none;">論</abbr></a></li><li class="nv-edit"><a class="external text" href="//zh.wikipedia.org/w/index.php?title=Template:%E5%9B%BD%E5%AE%B6%E5%8C%96%E8%BA%AB&amp;action=edit"><abbr title="編輯該模板" style=";;background:none transparent;border:none;">編</abbr></a></li></ul></div><div style="font-size:110%"><a href="/wiki/%E5%9B%BD%E5%AE%B6%E5%8C%96%E8%BA%AB" title="國家化身">國家擬人化身</a></div></th></tr>
                            <tr style="height: 2px; display: none;"><td colspan="2"></td></tr>
                            <tr style="display: none;">
                                <td colspan="2" class="navbox-list navbox-odd" style="width:100%;padding:0px">
                                    <div style="padding:0em 0.25em">
                                        <dl>
                                            <dt><a href="/wiki/%E4%BA%9E%E7%BE%8E%E5%B0%BC%E4%BA%9E" title="亞美尼亞">亞美尼亞</a></dt>
                                            <dd><a href="/wiki/%E4%BA%9A%E7%BE%8E%E5%B0%BC%E4%BA%9A%E6%AF%8D%E4%BA%B2" class="mw-redirect" title="亞美尼亞母親">亞美尼亞母親</a></dd>
                                            <dt><a href="/wiki/%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A" title="澳大利亞">澳大利亞</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="来自曼利的小男孩" data-lang-code="en" data-lang-name="英語" data-foreign-title="Little Boy from Manly"><span class="ilh-page"><a href="/w/index.php?title=%E6%9D%A5%E8%87%AA%E6%9B%BC%E5%88%A9%E7%9A%84%E5%B0%8F%E7%94%B7%E5%AD%A9&amp;action=edit&amp;redlink=1" class="new" original-title="來自曼利的小男孩（頁面不存在）">來自曼利的小男孩</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Little_Boy_from_Manly" class="extiw" title="en:Little Boy from Manly"><span lang="en" dir="auto">Little Boy from Manly</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E5%AD%9F%E5%8A%A0%E6%8B%89%E5%9B%BD" title="孟加拉國">孟加拉國</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="孟加拉母亲" data-lang-code="en" data-lang-name="英語" data-foreign-title="Mother Bengal"><span class="ilh-page"><a href="/w/index.php?title=%E5%AD%9F%E5%8A%A0%E6%8B%89%E6%AF%8D%E4%BA%B2&amp;action=edit&amp;redlink=1" class="new" original-title="孟加拉母親（頁面不存在）">孟加拉母親</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Mother_Bengal" class="extiw" title="en:Mother Bengal"><span lang="en" dir="auto">Mother Bengal</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E6%AF%94%E5%88%A9%E6%97%B6" title="比利時">比利時</a></dt>
                                            <dd><a href="/wiki/%E6%AF%94%E5%88%A9%E6%97%B6%E7%8B%AE" class="mw-redirect" title="比利時獅">比利時獅</a></dd>
                                            <dt><a href="/wiki/%E5%B7%B4%E8%A5%BF" title="巴西">巴西</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="共和国的爱菲吉" data-lang-code="en" data-lang-name="英語" data-foreign-title="Efígie da República"><span class="ilh-page"><a href="/w/index.php?title=%E5%85%B1%E5%92%8C%E5%9B%BD%E7%9A%84%E7%88%B1%E8%8F%B2%E5%90%89&amp;action=edit&amp;redlink=1" class="new" original-title="共和國的愛菲吉（頁面不存在）">共和國的愛菲吉</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Ef%C3%ADgie_da_Rep%C3%BAblica" class="extiw" title="en:Efígie da República"><span lang="en" dir="auto">Efígie da República</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E5%8A%A0%E6%8B%BF%E5%A4%A7" title="加拿大">加拿大</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="强尼·卡努克" data-lang-code="en" data-lang-name="英語" data-foreign-title="Johnny Canuck"><span class="ilh-page"><a href="/w/index.php?title=%E5%BC%BA%E5%B0%BC%C2%B7%E5%8D%A1%E5%8A%AA%E5%85%8B&amp;action=edit&amp;redlink=1" class="new" original-title="強尼·卡努克（頁面不存在）">強尼·卡努克</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Johnny_Canuck" class="extiw" title="en:Johnny Canuck"><span lang="en" dir="auto">Johnny Canuck</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E4%B8%AD%E5%9C%8B" title="中國">中國</a></dt>
                                            <dd><a href="/wiki/%E9%BE%8D" class="mw-redirect" title="龍">龍</a>、<a href="/wiki/%E7%86%8A%E7%8C%AB" class="mw-redirect" title="熊貓">熊貓</a>、<a href="/wiki/%E9%82%A3%E5%B9%B4%E9%82%A3%E5%85%94%E9%82%A3%E4%BA%9B%E4%BA%8B" title="那年那兔那些事">白兔</a></dd>
                                            <dt><a href="/wiki/%E6%8D%B7%E5%85%8B" title="捷克">捷克</a></dt>
                                            <dd><a href="/wiki/%E5%A5%BD%E5%85%B5%E5%B8%A5%E5%85%8B" title="好兵帥克">好兵帥克</a></dd>
                                            <dt><a href="/wiki/%E4%B8%B9%E9%BA%A6" title="丹麥">丹麥</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="丹麦人荷尔格" data-lang-code="en" data-lang-name="英語" data-foreign-title="Holger Danske"><span class="ilh-page"><a href="/w/index.php?title=%E4%B8%B9%E9%BA%A6%E4%BA%BA%E8%8D%B7%E5%B0%94%E6%A0%BC&amp;action=edit&amp;redlink=1" class="new" original-title="丹麥人荷爾格（頁面不存在）">丹麥人荷爾格</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Holger_Danske" class="extiw" title="en:Holger Danske"><span lang="en" dir="auto">Holger Danske</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E8%8A%AC%E5%85%B0" title="芬蘭">芬蘭</a></dt>
                                            <dd><a href="/wiki/%E8%8A%AC%E5%85%B0%E5%B0%91%E5%A5%B3" title="芬蘭少女">芬蘭少女</a></dd>
                                            <dt><a href="/wiki/%E6%B3%95%E5%9B%BD" title="法國">法國</a></dt>
                                            <dd><a href="/wiki/%E7%8E%9B%E4%B8%BD%E5%AE%89%E5%A8%9C" title="瑪麗安娜">瑪麗安娜</a></dd>
                                            <dt><a href="/wiki/%E6%A0%BC%E9%B2%81%E5%90%89%E4%BA%9A" title="喬治亞">喬治亞</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="格鲁吉亚之母" data-lang-code="en" data-lang-name="英語" data-foreign-title="Kartlis Deda"><span class="ilh-page"><a href="/w/index.php?title=%E6%A0%BC%E9%B2%81%E5%90%89%E4%BA%9A%E4%B9%8B%E6%AF%8D&amp;action=edit&amp;redlink=1" class="new" original-title="喬治亞之母（頁面不存在）">喬治亞之母</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Kartlis_Deda" class="extiw" title="en:Kartlis Deda"><span lang="en" dir="auto">Kartlis Deda</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E5%BE%B7%E5%9B%BD" title="德國">德國</a></dt>
                                            <dd><a href="/wiki/%E5%BE%B7%E6%84%8F%E5%BF%97%E7%B1%B3%E6%AD%87%E7%88%BE" title="德意志米歇爾">德意志米歇爾</a>、<a href="/wiki/%E6%97%A5%E8%80%B3%E6%9B%BC%E5%A6%AE%E5%A8%85" title="日耳曼妮婭">日耳曼妮婭</a></dd>
                                            <dt><a href="/wiki/%E5%B8%8C%E8%85%8A" title="希臘">希臘</a></dt>
                                            <dd><a class="mw-selflink selflink">雅典娜</a></dd>
                                            <dt><a href="/wiki/%E5%86%B0%E5%B2%9B" title="冰島">冰島</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="群山之女" data-lang-code="en" data-lang-name="英語" data-foreign-title="Lady of the Mountain"><span class="ilh-page"><a href="/w/index.php?title=%E7%BE%A4%E5%B1%B1%E4%B9%8B%E5%A5%B3&amp;action=edit&amp;redlink=1" class="new" original-title="群山之女（頁面不存在）">群山之女</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Lady_of_the_Mountain" class="extiw" title="en:Lady of the Mountain"><span lang="en" dir="auto">Lady of the Mountain</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E5%8D%B0%E5%BA%A6" title="印度">印度</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="印度之母 (拟人)" data-lang-code="en" data-lang-name="英語" data-foreign-title="Bharat Mata"><span class="ilh-page"><a href="/w/index.php?title=%E5%8D%B0%E5%BA%A6%E4%B9%8B%E6%AF%8D_(%E6%8B%9F%E4%BA%BA)&amp;action=edit&amp;redlink=1" class="new" original-title="印度之母 (擬人)（頁面不存在）">印度之母</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Bharat_Mata" class="extiw" title="en:Bharat Mata"><span lang="en" dir="auto">Bharat Mata</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E5%8D%B0%E5%BA%A6%E5%B0%BC%E8%A5%BF%E4%BA%9A" title="印度尼西亞">印度尼西亞</a>/<a href="/wiki/%E9%A9%AC%E6%9D%A5%E8%A5%BF%E4%BA%9A" title="馬來西亞">馬來西亞</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="大地之母 (马来西亚)" data-lang-code="en" data-lang-name="英語" data-foreign-title="Ibu Pertiwi"><span class="ilh-page"><a href="/w/index.php?title=%E5%A4%A7%E5%9C%B0%E4%B9%8B%E6%AF%8D_(%E9%A9%AC%E6%9D%A5%E8%A5%BF%E4%BA%9A)&amp;action=edit&amp;redlink=1" class="new" original-title="大地之母 (馬來西亞)（頁面不存在）">大地之母</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Ibu_Pertiwi" class="extiw" title="en:Ibu Pertiwi"><span lang="en" dir="auto">Ibu Pertiwi</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E7%88%B1%E5%B0%94%E5%85%B0" title="愛爾蘭">愛爾蘭</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="希伯尔尼亚" data-lang-code="en" data-lang-name="英語" data-foreign-title="Hibernia"><span class="ilh-page"><a href="/w/index.php?title=%E5%B8%8C%E4%BC%AF%E5%B0%94%E5%B0%BC%E4%BA%9A&amp;action=edit&amp;redlink=1" class="new" original-title="希伯爾尼亞（頁面不存在）">希伯爾尼亞</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Hibernia" class="extiw" title="en:Hibernia"><span lang="en" dir="auto">Hibernia</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E4%BB%A5%E8%89%B2%E5%88%97" title="以色列">以色列</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="舒里克" data-lang-code="en" data-lang-name="英語" data-foreign-title="Srulik"><span class="ilh-page"><a href="/w/index.php?title=%E8%88%92%E9%87%8C%E5%85%8B&amp;action=edit&amp;redlink=1" class="new" original-title="舒里克（頁面不存在）">舒里克</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Srulik" class="extiw" title="en:Srulik"><span lang="en" dir="auto">Srulik</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E6%84%8F%E5%A4%A7%E5%88%A9" title="義大利">義大利</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="戴皇冠的意大利娅" data-lang-code="en" data-lang-name="英語" data-foreign-title="Italia turrita"><span class="ilh-page"><a href="/w/index.php?title=%E6%88%B4%E7%9A%87%E5%86%A0%E7%9A%84%E6%84%8F%E5%A4%A7%E5%88%A9%E5%A8%85&amp;action=edit&amp;redlink=1" class="new" original-title="戴皇冠的義大利婭（頁面不存在）">戴皇冠的義大利婭</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Italia_turrita" class="extiw" title="en:Italia turrita"><span lang="en" dir="auto">Italia turrita</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E6%97%A5%E6%9C%AC" title="日本">日本</a></dt>
                                            <dd><a href="/wiki/%E5%A4%A9%E7%85%A7%E5%A4%A7%E7%A5%9E" title="天照大神">天照大神</a></dd>
                                            <dt><a href="/wiki/%E9%A9%AC%E8%80%B3%E4%BB%96" title="馬爾他">馬爾他</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="梅里塔" data-lang-code="en" data-lang-name="英語" data-foreign-title="Melita"><span class="ilh-page"><a href="/w/index.php?title=%E6%A2%85%E9%87%8C%E5%A1%94&amp;action=edit&amp;redlink=1" class="new" original-title="梅里塔（頁面不存在）">梅里塔</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Melita" class="extiw" title="en:Melita"><span lang="en" dir="auto">Melita</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E8%8D%B7%E5%85%B0" title="荷蘭">荷蘭</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="荷兰少女" data-lang-code="en" data-lang-name="英語" data-foreign-title="Netherlands Maiden"><span class="ilh-page"><a href="/w/index.php?title=%E8%8D%B7%E5%85%B0%E5%B0%91%E5%A5%B3&amp;action=edit&amp;redlink=1" class="new" original-title="荷蘭少女（頁面不存在）">荷蘭少女</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Netherlands_Maiden" class="extiw" title="en:Netherlands Maiden"><span lang="en" dir="auto">Netherlands Maiden</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E6%96%B0%E8%A5%BF%E5%85%B0" title="紐西蘭">紐西蘭</a></dt>
                                            <dd><a href="/wiki/%E6%B3%BD%E5%85%B0%E8%92%82%E4%BA%9A" class="mw-redirect" title="澤蘭蒂亞">澤蘭蒂亞</a></dd>
                                            <dt><a href="/wiki/%E6%8C%AA%E5%A8%81" title="挪威">挪威</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="奥拉·诺德曼" data-lang-code="en" data-lang-name="英語" data-foreign-title="Ola Nordmann"><span class="ilh-page"><a href="/w/index.php?title=%E5%A5%A5%E6%8B%89%C2%B7%E8%AF%BA%E5%BE%B7%E6%9B%BC&amp;action=edit&amp;redlink=1" class="new" original-title="奧拉·諾德曼（頁面不存在）">奧拉·諾德曼</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Ola_Nordmann" class="extiw" title="en:Ola Nordmann"><span lang="en" dir="auto">Ola Nordmann</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E6%B3%A2%E5%85%B0" title="波蘭">波蘭</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="波洛妮娅" data-lang-code="en" data-lang-name="英語" data-foreign-title="Polonia"><span class="ilh-page"><a href="/w/index.php?title=%E6%B3%A2%E6%B4%9B%E5%A6%AE%E5%A8%85&amp;action=edit&amp;redlink=1" class="new" original-title="波洛妮婭（頁面不存在）">波洛妮婭</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Polonia" class="extiw" title="en:Polonia"><span lang="en" dir="auto">Polonia</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E8%91%A1%E8%90%84%E7%89%99" title="葡萄牙">葡萄牙</a></dt>
                                            <dd><span class="ilh-all" data-orig-title="共和国的爱菲吉" data-lang-code="en" data-lang-name="英語" data-foreign-title="Efígie da República"><span class="ilh-page"><a href="/w/index.php?title=%E5%85%B1%E5%92%8C%E5%9B%BD%E7%9A%84%E7%88%B1%E8%8F%B2%E5%90%89&amp;action=edit&amp;redlink=1" class="new" original-title="共和國的愛菲吉（頁面不存在）">共和國的愛菲吉</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Ef%C3%ADgie_da_Rep%C3%BAblica" class="extiw" title="en:Efígie da República"><span lang="en" dir="auto">Efígie da República</span></a></span>）</span></span>、<span class="ilh-all" data-orig-title="泽波维尼奥" data-lang-code="en" data-lang-name="英語" data-foreign-title="Zé Povinho"><span class="ilh-page"><a href="/w/index.php?title=%E6%B3%BD%E6%B3%A2%E7%BB%B4%E5%B0%BC%E5%A5%A5&amp;action=edit&amp;redlink=1" class="new" original-title="澤波維尼奧（頁面不存在）">澤波維尼奧</a></span><span class="noprint ilh-comment">（<span class="ilh-lang">英語</span><span class="ilh-colon">：</span><span class="ilh-link"><a href="https://en.wikipedia.org/wiki/Z%C3%A9_Povinho" class="extiw" title="en:Zé Povinho"><span lang="en" dir="auto">Zé Povinho</span></a></span>）</span></span></dd>
                                            <dt><a href="/wiki/%E4%BF%84%E7%BD%97%E6%96%AF" title="俄羅斯">俄羅斯</a></dt>
                                            <dd><a href="/wiki/%E4%BF%84%E7%BE%85%E6%96%AF%E6%AF%8D%E8%A6%AA" title="俄羅斯母親">俄羅斯母親</a></dd>
                                            <dt><a href="/wiki/%E8%A5%BF%E7%8F%AD%E7%89%99" title="西班牙">西班牙</a></dt>
                                            <dd><a href="/wiki/%E4%BC%8A%E6%96%AF%E5%B7%B4%E5%A6%AE%E5%A8%85_(%E6%8B%9F%E4%BA%BA)" class="mw-redirect" title="伊斯巴妮婭 (擬人)">伊斯巴妮婭</a></dd>
                                            <dt><a href="/wiki/%E7%91%9E%E5%85%B8" title="瑞典">瑞典</a></dt>
                                            <dd><a href="/wiki/%E6%96%AF%E9%9F%A6%E6%AF%8D%E4%BA%B2" title="斯韋母親">斯韋母親</a></dd>
                                            <dt><a href="/wiki/%E7%91%9E%E5%A3%AB" title="瑞士">瑞士</a></dt>
                                            <dd><a href="/wiki/%E8%B5%AB%E5%B0%94%E7%BB%B4%E8%92%82%E5%A8%85" title="赫爾維蒂婭">赫爾維蒂婭</a></dd>
                                            <dt><a href="/wiki/%E4%B9%8C%E5%85%8B%E5%85%B0" title="烏克蘭">烏克蘭</a></dt>
                                            <dd><a href="/wiki/%E5%93%A5%E8%90%A8%E5%85%8B%E9%A9%AC%E8%BF%88" title="哥薩克馬邁">哥薩克馬邁</a></dd>
                                            <dt><a href="/wiki/%E8%8B%B1%E5%9B%BD" title="英國">英國</a></dt>
                                            <dd><a href="/wiki/%E4%B8%8D%E5%88%97%E9%A2%A0%E5%B0%BC%E4%BA%9A" title="不列顛尼亞">不列顛尼亞</a>、<a href="/wiki/%E7%BA%A6%E7%BF%B0%E7%89%9B" title="約翰牛">約翰牛</a></dd>
                                            <dt><a href="/wiki/%E7%BE%8E%E5%9B%BD" title="美國">美國</a></dt>
                                            <dd><a href="/wiki/%E5%93%A5%E4%BC%A6%E6%AF%94%E4%BA%9A_(%E7%BE%8E%E5%9B%BD)" title="哥倫比亞 (美國)">哥倫比亞女神</a>、<a href="/wiki/%E8%87%AA%E7%94%B1%E5%A5%B3%E7%A5%9E" title="自由女神">自由女神</a>、<a href="/wiki/%E5%B1%B1%E5%A7%86%E5%A4%A7%E5%8F%94" title="山姆大叔">山姆大叔</a>、<a href="/wiki/%E7%99%BD%E9%A0%AD%E9%B7%B9" class="mw-redirect" title="白頭鷹">白頭鷹</a></dd>
                                        </dl>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="0" class="navbox" style="border-spacing:0">
        <tbody>
            <tr>
                <td style="padding:2px">
                    <table cellspacing="0" class="nowraplinks hlist navbox-inner" style="border-spacing:0;background:transparent;color:inherit">
                        <tbody>
                            <tr>
                                <th scope="row" class="navbox-group"><a href="/wiki/%E6%AC%8A%E5%A8%81%E6%8E%A7%E5%88%B6" title="權威控制">權威控制</a></th>
                                <td class="navbox-list navbox-odd" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
                                    <div style="padding:0em 0.25em">
                                        <ul>
                                            <li><a rel="nofollow" class="external text" href="//www.worldcat.org/identities/containsVIAFID/74643725">WorldCat標識符</a></li>
                                            <li><a href="/wiki/%E8%99%9A%E6%8B%9F%E5%9B%BD%E9%99%85%E8%A7%84%E8%8C%83%E6%96%87%E6%A1%A3" title="虛擬國際規範文檔">VIAF</a>: <span class="uid"><a rel="nofollow" class="external text" href="https://viaf.org/viaf/74643725">74643725</a></span></li>
                                            <li><a href="/wiki/%E7%BE%8E%E5%9B%BD%E5%9B%BD%E4%BC%9A%E5%9B%BE%E4%B9%A6%E9%A6%86%E6%8E%A7%E5%88%B6%E5%8F%B7" title="美國國會圖書館控制號">LCCN</a>: <span class="uid"><a rel="nofollow" class="external text" href="http://id.loc.gov/authorities/names/no2015006898">no2015006898</a></span></li>
                                            <li><a href="/wiki/%E6%95%B4%E5%90%88%E8%A7%84%E8%8C%83%E6%96%87%E6%A1%A3" title="整合規範文檔">GND</a>: <span class="uid"><a rel="nofollow" class="external text" href="http://d-nb.info/gnd/118504851">118504851</a></span></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>